In [ ]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [14]:
# Initializing Spark

old_way = False
if old_way:
  from pyspark import SparkContext, SparkConf
  conf = SparkConf().setAppName("Archive_PySpark").setMaster("local[*]")
  sc = SparkContext(conf=conf)
else:
  from pyspark.sql import SparkSession
  # Start a Spark session
  spark = SparkSession.builder \
    .appName("ArXiv Analysis") \
    .getOrCreate()

In [15]:
# Read and Load Data to Spark
# Data source: https://www.kaggle.com/Cornell-University/arxiv/version/1
# https://www.kaggle.com/datasets/Cornell-University/arxiv/data

In [16]:
from pyspark.sql import DataFrame

In [17]:
using_GoogleColab = True
if using_GoogleColab:
  # to work with files inside Google Colab,
  from google.colab import drive
  drive.mount('/content/drive')
  # and right-click copy path of the files you want
else:
  # idk man
  pass

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [31]:
# Load the JSON file
# data: DataFrame = spark.read.json("path/to/arxiv-metadata.json")
data: DataFrame = spark.read.json("drive/MyDrive/Colab Notebooks/arxiv-metadata-oai-snapshot.json")

In [45]:
from pyspark.sql.functions import explode, col

.withColumn() - Returns a new DataFrame by adding a column or replacing the existing column that has the same name.

explode() - Returns a new row for each element in the given array or map. Uses the default column name col for elements in the array and key and value for elements in the map unless specified otherwise

col() - Returns a pyspark.sql.Column based on the given column name

In [120]:
# Explode the versions to access version 1 details
data_with_versions = data.withColumn("version", explode(col("versions")))

In [121]:
data_with_versions.show(5)

+--------------------+--------------------+--------------------+--------------+--------------------+--------------------+---------+--------------------+--------------------+----------------+--------------+--------------------+-----------+--------------------+--------------------+
|            abstract|             authors|      authors_parsed|    categories|            comments|                 doi|       id|         journal-ref|             license|       report-no|     submitter|               title|update_date|            versions|             version|
+--------------------+--------------------+--------------------+--------------+--------------------+--------------------+---------+--------------------+--------------------+----------------+--------------+--------------------+-----------+--------------------+--------------------+
|  A fully differe...|C. Bal\'azs, E. L...|[[Balázs, C., ], ...|        hep-ph|37 pages, 15 figu...|10.1103/PhysRevD....|0704.0001|Phys.Rev.D76:0130...|                NULL|ANL-HEP-PR-07-12|Pavel Nadolsky|Calculation of pr...| 2008-11-26|[{Mon, 2 Apr 2007...|{Mon, 2 Apr 2007 ...|
|  A fully differe...|C. Bal\'azs, E. L...|[[Balázs, C., ], ...|        hep-ph|37 pages, 15 figu...|10.1103/PhysRevD....|0704.0001|Phys.Rev.D76:0130...|                NULL|ANL-HEP-PR-07-12|Pavel Nadolsky|Calculation of pr...| 2008-11-26|[{Mon, 2 Apr 2007...|{Tue, 24 Jul 2007...|
|  We describe a n...|Ileana Streinu an...|[[Streinu, Ileana...| math.CO cs.CG|To appear in Grap...|                NULL|0704.0002|                NULL|http://arxiv.org/...|            NULL|  Louis Theran|Sparsity-certifyi...| 2008-12-13|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  We describe a n...|Ileana Streinu an...|[[Streinu, Ileana...| math.CO cs.CG|To appear in Grap...|                NULL|0704.0002|                NULL|http://arxiv.org/...|            NULL|  Louis Theran|Sparsity-certifyi...| 2008-12-13|[{Sat, 31 Mar 200...|{Sat, 13 Dec 2008...|
|  The evolution o...|         Hongjun Pan|  [[Pan, Hongjun, ]]|physics.gen-ph| 23 pages, 3 figures|                NULL|0704.0003|                NULL|                NULL|            NULL|   Hongjun Pan|The evolution of ...| 2008-01-13|[{Sun, 1 Apr 2007...|{Sun, 1 Apr 2007 ...|
+--------------------+--------------------+--------------------+--------------+--------------------+--------------------+---------+--------------------+--------------------+----------------+--------------+--------------------+-----------+--------------------+--------------------+
only showing top 5 rows

In [132]:
# Filter to keep only version 1
version_1_data = data_with_versions.filter(col("version.version") == "v1")

In [133]:
version_1_data.show()

+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+------------------+--------------------+-----------+--------------------+--------------------+
|            abstract|             authors|      authors_parsed|       categories|            comments|                 doi|       id|         journal-ref|             license|           report-no|         submitter|               title|update_date|            versions|             version|
+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+------------------+--------------------+-----------+--------------------+--------------------+
|  A fully differe...|C. Bal\'azs, E. L...|[[Balázs, C., ], ...|           hep-ph|37 pages, 15 figu...|10.1103/PhysRevD....|0704.0001|Phys.Rev.D76:0130...|                NULL|    ANL-HEP-PR-07-12|    Pavel Nadolsky|Calculation of pr...| 2008-11-26|[{Mon, 2 Apr 2007...|{Mon, 2 Apr 2007 ...|
|  We describe a n...|Ileana Streinu an...|[[Streinu, Ileana...|    math.CO cs.CG|To appear in Grap...|                NULL|0704.0002|                NULL|http://arxiv.org/...|                NULL|      Louis Theran|Sparsity-certifyi...| 2008-12-13|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  The evolution o...|         Hongjun Pan|  [[Pan, Hongjun, ]]|   physics.gen-ph| 23 pages, 3 figures|                NULL|0704.0003|                NULL|                NULL|                NULL|       Hongjun Pan|The evolution of ...| 2008-01-13|[{Sun, 1 Apr 2007...|{Sun, 1 Apr 2007 ...|
|  We show that a ...|        David Callan| [[Callan, David, ]]|          math.CO|            11 pages|                NULL|0704.0004|                NULL|                NULL|                NULL|      David Callan|A determinant of ...| 2007-05-23|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  In this paper w...|Wael Abu-Shammala...|[[Abu-Shammala, W...|  math.CA math.FA|                NULL|                NULL|0704.0005|Illinois J. Math....|                NULL|                NULL|Alberto Torchinsky|From dyadic $\Lam...| 2013-10-15|[{Mon, 2 Apr 2007...|{Mon, 2 Apr 2007 ...|
|  We study the tw...|Y. H. Pong and C....|[[Pong, Y. H., ],...|cond-mat.mes-hall|6 pages, 4 figure...|10.1103/PhysRevA....|0704.0006|                NULL|                NULL|                NULL|      Yue Hin Pong|Bosonic character...| 2015-05-13|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  A rather non-st...|Alejandro Corichi...|[[Corichi, Alejan...|            gr-qc|16 pages, no figu...|10.1103/PhysRevD....|0704.0007|Phys.Rev.D76:0440...|                NULL|        IGPG-07/03-2| Alejandro Corichi|Polymer Quantum M...| 2008-11-26|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  A general formu...|     Damian C. Swift|[[Swift, Damian C...|cond-mat.mtrl-sci|   Minor corrections|   10.1063/1.2975338|0704.0008|Journal of Applie...|http://arxiv.org/...|LA-UR-07-2051, LL...|      Damian Swift|Numerical solutio...| 2009-02-05|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  We discuss the ...|Paul Harvey, Brun...|[[Harvey, Paul, ]...|         astro-ph|                NULL|      10.1086/518646|0704.0009|Astrophys.J.663:1...|                NULL|                NULL|       Paul Harvey|The Spitzer c2d S...| 2010-03-18|[{Mon, 2 Apr 2007...|{Mon, 2 Apr 2007 ...|
|  Partial cubes a...|  Sergei Ovchinnikov|[[Ovchinnikov, Se...|          math.CO|36 pages, 17 figures|                NULL|0704.0010|                NULL|                NULL|                NULL|Sergei Ovchinnikov|Partial cubes: st...| 2007-05-23|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  In this paper w...|Clifton Cunningha...|[[Cunningham, Cli...|  math.NT math.AG|14 pages; title c...|                NULL|0704.0011|                NULL|http://arxiv.org/...|                NULL|Clifton Cunningham|Computing genus 2...| 2008-08-20|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  Recently, Bruin...|         Dohoon Choi|  [[Choi, Dohoon, ]]|          math.NT|                NULL|                NULL|0704.0012|                NULL|                NULL|                NULL|       Dohoon Choi|Distribution of i...| 2007-05-23|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  Serre obtained ...|Dohoon Choi and Y...|[[Choi, Dohoon, ]...|          math.NT|                NULL|                NULL|0704.0013|                NULL|                NULL|                NULL|       Dohoon Choi|$p$-adic Limit of...| 2008-05-26|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  In this article...|        Koichi Fujii| [[Fujii, Koichi, ]]|  math.CA math.AT|  18 pages, 1 figure|                NULL|0704.0014|                NULL|                NULL|                NULL|      Koichi Fujii|Iterated integral...| 2009-09-29|[{Sun, 1 Apr 2007...|{Sun, 1 Apr 2007 ...|
|  The pure spinor...|     Christian Stahn|[[Stahn, Christia...|           hep-th|22 pages; signs a...|10.1088/1126-6708...|0704.0015|  JHEP 0705:034,2007|                NULL|                NULL|   Christian Stahn|Fermionic superst...| 2009-11-13|[{Mon, 2 Apr 2007...|{Mon, 2 Apr 2007 ...|
|  In this work, w...|Chao-Hsi Chang, T...|[[Chang, Chao-Hsi...|           hep-ph|17 pages, 3 figur...|10.1088/0253-6102...|0704.0016|Commun.Theor.Phys...|                NULL|                NULL|           Li Tong|Lifetime of doubl...| 2008-12-18|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  Results from sp...|Nceba Mhlahlo, Da...|[[Mhlahlo, Nceba,...|         astro-ph|10 pages, 11 figu...|10.1111/j.1365-29...|0704.0017|Mon.Not.Roy.Astro...|                NULL|                NULL|     Nceba Mhlahlo|Spectroscopic Obs...| 2009-06-23|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  We give a presc...|  Andreas Gustavsson|[[Gustavsson, And...|           hep-th|20 pages, v2: an ...|                NULL|0704.0018|                NULL|                NULL|                NULL|Andreas Gustavsson|In quest of a gen...| 2007-05-23|[{Mon, 2 Apr 2007...|{Mon, 2 Apr 2007 ...|
|  In this note we...|         Norio Konno|  [[Konno, Norio, ]]|  math.PR math.AG|6 pages, Journal-...|                NULL|0704.0019|RIMS Kokyuroku, N...|                NULL|                NULL|       Norio Konno|Approximation for...| 2007-06-23|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
|  The shape of th...|The BABAR Collabo...|[[The BABAR Colla...|           hep-ex|21 pages, 13 post...|10.1103/PhysRevD....|0704.0020|Phys.Rev.D76:0520...|                NULL|BABAR-PUB-07/015,...|   Patrick Roudeau|Measurement of th...| 2015-06-30|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...|
+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+---------+--------------------+--------------------+--------------------+------------------+--------------------+-----------+--------------------+--------------------+
only showing top 20 rows

In [134]:
from pyspark.sql.functions import to_date, to_timestamp

to_date() - Converts a pyspark.sql.Column into pyspark.sql.types.DateType using the optionally specified format.

If the column has dates like Mon, 01 Jan 2023 12:34:56 +0000, the format string should be:

EEE, dd MMM yyyy HH:mm:ss Z

In [135]:
version_1_data.select("version.created").show(5, truncate=False)

+-----------------------------+
|created                      |
+-----------------------------+
|Mon, 2 Apr 2007 19:18:42 GMT |
|Sat, 31 Mar 2007 02:26:18 GMT|
|Sun, 1 Apr 2007 20:46:54 GMT |
|Sat, 31 Mar 2007 03:16:14 GMT|
|Mon, 2 Apr 2007 18:09:58 GMT |
+-----------------------------+
only showing top 5 rows

this format is actually `EEE, d MMM yyyy HH:mm:ss z`

d is the day of the month (without leading zeros)

In [137]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

not ideal but at least works...

In [138]:
# Extract the submission date and convert it to a date format
# version_1_data = version_1_data.withColumn("submission_date", to_date(col("version.created"), "EEE, dd MMM yyyy HH:mm:ss Z"))

"""
version_1_data = version_1_data.withColumn(
    "submission_timestamp",
    to_timestamp(col("created"), "EEE, d MMM yyyy HH:mm:ss X")
)


version_1_data = version_1_data.withColumn(
    "submission_date",
    to_date(col("version.created"), "EEE, d MMM yyyy HH:mm:ss X")
)
"""
# Apply the timestamp conversion using the correct pattern
version_1_data = version_1_data.withColumn(
    "submission_timestamp",
    to_timestamp(col("version.created"), "EEE, d MMM yyyy HH:mm:ss z")
)

# Extract only the date (if you need it)
from pyspark.sql.functions import to_date
version_1_data = version_1_data.withColumn(
    "submission_date",
    to_date(col("submission_timestamp"))
)

# Verify the result
version_1_data.select("version.created", "submission_date").show(5, truncate=False)

+-----------------------------+---------------+
|created                      |submission_date|
+-----------------------------+---------------+
|Mon, 2 Apr 2007 19:18:42 GMT |2007-04-02     |
|Sat, 31 Mar 2007 02:26:18 GMT|2007-03-31     |
|Sun, 1 Apr 2007 20:46:54 GMT |2007-04-01     |
|Sat, 31 Mar 2007 03:16:14 GMT|2007-03-31     |
|Mon, 2 Apr 2007 18:09:58 GMT |2007-04-02     |
+-----------------------------+---------------+
only showing top 5 rows

In [139]:
version_1_data.show(5)

+--------------------+--------------------+--------------------+---------------+--------------------+--------------------+---------+--------------------+--------------------+----------------+------------------+--------------------+-----------+--------------------+--------------------+--------------------+---------------+
|            abstract|             authors|      authors_parsed|     categories|            comments|                 doi|       id|         journal-ref|             license|       report-no|         submitter|               title|update_date|            versions|             version|submission_timestamp|submission_date|
+--------------------+--------------------+--------------------+---------------+--------------------+--------------------+---------+--------------------+--------------------+----------------+------------------+--------------------+-----------+--------------------+--------------------+--------------------+---------------+
|  A fully differe...|C. Bal\'azs, E. L...|[[Balázs, C., ], ...|         hep-ph|37 pages, 15 figu...|10.1103/PhysRevD....|0704.0001|Phys.Rev.D76:0130...|                NULL|ANL-HEP-PR-07-12|    Pavel Nadolsky|Calculation of pr...| 2008-11-26|[{Mon, 2 Apr 2007...|{Mon, 2 Apr 2007 ...| 2007-04-02 19:18:42|     2007-04-02|
|  We describe a n...|Ileana Streinu an...|[[Streinu, Ileana...|  math.CO cs.CG|To appear in Grap...|                NULL|0704.0002|                NULL|http://arxiv.org/...|            NULL|      Louis Theran|Sparsity-certifyi...| 2008-12-13|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...| 2007-03-31 02:26:18|     2007-03-31|
|  The evolution o...|         Hongjun Pan|  [[Pan, Hongjun, ]]| physics.gen-ph| 23 pages, 3 figures|                NULL|0704.0003|                NULL|                NULL|            NULL|       Hongjun Pan|The evolution of ...| 2008-01-13|[{Sun, 1 Apr 2007...|{Sun, 1 Apr 2007 ...| 2007-04-01 20:46:54|     2007-04-01|
|  We show that a ...|        David Callan| [[Callan, David, ]]|        math.CO|            11 pages|                NULL|0704.0004|                NULL|                NULL|            NULL|      David Callan|A determinant of ...| 2007-05-23|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...| 2007-03-31 03:16:14|     2007-03-31|
|  In this paper w...|Wael Abu-Shammala...|[[Abu-Shammala, W...|math.CA math.FA|                NULL|                NULL|0704.0005|Illinois J. Math....|                NULL|            NULL|Alberto Torchinsky|From dyadic $\Lam...| 2013-10-15|[{Mon, 2 Apr 2007...|{Mon, 2 Apr 2007 ...| 2007-04-02 18:09:58|     2007-04-02|
+--------------------+--------------------+--------------------+---------------+--------------------+--------------------+---------+--------------------+--------------------+----------------+------------------+--------------------+-----------+--------------------+--------------------+--------------------+---------------+
only showing top 5 rows

In [140]:
version_1_data.printSchema()

root
 |-- abstract: string (nullable = true)
 |-- authors: string (nullable = true)
 |-- authors_parsed: array (nullable = true)
 |    |-- element: array (containsNull = true)
 |    |    |-- element: string (containsNull = true)
 |-- categories: string (nullable = true)
 |-- comments: string (nullable = true)
 |-- doi: string (nullable = true)
 |-- id: string (nullable = true)
 |-- journal-ref: string (nullable = true)
 |-- license: string (nullable = true)
 |-- report-no: string (nullable = true)
 |-- submitter: string (nullable = true)
 |-- title: string (nullable = true)
 |-- update_date: string (nullable = true)
 |-- versions: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- created: string (nullable = true)
 |    |    |-- version: string (nullable = true)
 |-- version: struct (nullable = true)
 |    |-- created: string (nullable = true)
 |    |-- version: string (nullable = true)
 |-- submission_timestamp: timestamp (nullable = true)
 |-- submission_date: date (nullable = true)

In [141]:
from pyspark.sql.functions import regexp_extract

regex_extract() - Extract a specific group matched by the Java regex regexp, from the specified string column. If the regex did not match, or the specified group did not match, an empty string is returned

In [142]:
# Extract the page count from the comments (assuming comments contain "X pages")
version_1_data = version_1_data.withColumn("page_count",
                                           regexp_extract(col("comments"),
                                                          r"(\d+) pages", 1).
                                           cast("int"))

In [143]:
version_1_data.show(5)

+--------------------+--------------------+--------------------+---------------+--------------------+--------------------+---------+--------------------+--------------------+----------------+------------------+--------------------+-----------+--------------------+--------------------+--------------------+---------------+----------+
|            abstract|             authors|      authors_parsed|     categories|            comments|                 doi|       id|         journal-ref|             license|       report-no|         submitter|               title|update_date|            versions|             version|submission_timestamp|submission_date|page_count|
+--------------------+--------------------+--------------------+---------------+--------------------+--------------------+---------+--------------------+--------------------+----------------+------------------+--------------------+-----------+--------------------+--------------------+--------------------+---------------+----------+
|  A fully differe...|C. Bal\'azs, E. L...|[[Balázs, C., ], ...|         hep-ph|37 pages, 15 figu...|10.1103/PhysRevD....|0704.0001|Phys.Rev.D76:0130...|                NULL|ANL-HEP-PR-07-12|    Pavel Nadolsky|Calculation of pr...| 2008-11-26|[{Mon, 2 Apr 2007...|{Mon, 2 Apr 2007 ...| 2007-04-02 19:18:42|     2007-04-02|        37|
|  We describe a n...|Ileana Streinu an...|[[Streinu, Ileana...|  math.CO cs.CG|To appear in Grap...|                NULL|0704.0002|                NULL|http://arxiv.org/...|            NULL|      Louis Theran|Sparsity-certifyi...| 2008-12-13|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...| 2007-03-31 02:26:18|     2007-03-31|      NULL|
|  The evolution o...|         Hongjun Pan|  [[Pan, Hongjun, ]]| physics.gen-ph| 23 pages, 3 figures|                NULL|0704.0003|                NULL|                NULL|            NULL|       Hongjun Pan|The evolution of ...| 2008-01-13|[{Sun, 1 Apr 2007...|{Sun, 1 Apr 2007 ...| 2007-04-01 20:46:54|     2007-04-01|        23|
|  We show that a ...|        David Callan| [[Callan, David, ]]|        math.CO|            11 pages|                NULL|0704.0004|                NULL|                NULL|            NULL|      David Callan|A determinant of ...| 2007-05-23|[{Sat, 31 Mar 200...|{Sat, 31 Mar 2007...| 2007-03-31 03:16:14|     2007-03-31|        11|
|  In this paper w...|Wael Abu-Shammala...|[[Abu-Shammala, W...|math.CA math.FA|                NULL|                NULL|0704.0005|Illinois J. Math....|                NULL|            NULL|Alberto Torchinsky|From dyadic $\Lam...| 2013-10-15|[{Mon, 2 Apr 2007...|{Mon, 2 Apr 2007 ...| 2007-04-02 18:09:58|     2007-04-02|      NULL|
+--------------------+--------------------+--------------------+---------------+--------------------+--------------------+---------+--------------------+--------------------+----------------+------------------+--------------------+-----------+--------------------+--------------------+--------------------+---------------+----------+
only showing top 5 rows

In [71]:
from pyspark.sql.functions import sum as _sum

In [144]:
# Group by submission_date and calculate total pages
pages_per_day = (
    version_1_data.groupBy("submission_date")
    .agg(_sum("page_count").alias("total_pages"))
)

In [147]:
from pyspark.sql.functions import avg

avg() - Aggregate function: returns the average of the values in a group

In [145]:
# Calculate the average number of pages per day
average_pages_per_day = pages_per_day.select(avg(col("total_pages")).alias("avg_pages_per_day"))

In [146]:
# Show the result
average_pages_per_day.show()

+------------------+
| avg_pages_per_day|
+------------------+
|1912.9052574427653|
+------------------+