In [1]:
# extract.py

# import relevant modules
import pandas as pd

# extract data
def extract_data(filepath: object) -> pd.DataFrame:
    """
       Simple Extract Function in Python with Error Handling
       :param filepath: str, file path to CSV data
       :output: pandas dataframe, extracted from CSV data
    """
    try:
        # Read the CSV file and store it in a dataframe
        df = pd.read_csv(filepath)

    # Handle exception if any of the files are missing
    except FileNotFoundError as e:
        print(f"Error: {e}")

    # Handle any other exceptions
    except Exception as e:
        print(f"Error: {e}")

    return df

In [5]:
# transform.py

# import modules
import pandas as pd

# transform data
def transform_data(df: pd.DataFrame) -> pd.DataFrame:
    """
    Cleans and transforms crash data.
    :param df: pandas dataframe, extracted data
    :return: pandas dataframe, transformed data
    """
    
    # Drop duplicate rows
    df = df.drop_duplicates()

    # Convert mixed-type columns (strings & numbers) properly
    mixed_columns = ['crash_date_est_i', 'report_type', 'intersection_related_i',
                     'private_property_i', 'hit_and_run_i', 'photos_taken_i',
                     'statements_taken_i', 'work_zone_i', 'work_zone_type', 
                     'workers_present_i', 'most_severe_injury', 'location']

    for col in mixed_columns:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors="coerce")  # Convert to float, replacing bad values with NaN

    # Replace missing values in numeric columns with the mean
    df.fillna(df.select_dtypes(include=['number']).mean(), inplace=True)

    # Replace missing values in categorical columns with the mode
    for col in df.select_dtypes(include=['object']).columns:
        if not df[col].mode().empty:
            df[col].fillna(df[col].mode()[0], inplace=True)

    # Convert CRASH_DATE to datetime
    if 'CRASH_DATE' in df.columns:
        df['CRASH_DATE'] = pd.to_datetime(df['CRASH_DATE'], errors='coerce')

    # Convert integer-like columns properly
    if 'POSTED_SPEED_LIMIT' in df.columns:
        df['POSTED_SPEED_LIMIT'] = pd.to_numeric(df['POSTED_SPEED_LIMIT'], errors='coerce').astype('Int32')
    
    # convert every columns name to uppercase
    df.columns = df.columns.str.upper()

    return df

In [6]:
# load.py

# import relevant modules
import psycopg2

# establish connection to the Postgresql database
conn = psycopg2.connect(
    database="chicago_dmv",
    user="myuser",
    password="mypassword",
    host="localhost",
    port="5432"
)

# create a cursor object for running SQL queries
cur = conn.cursor()
print('successful creation of cursor object.')


# suggested continued learning: this function can be modified to be fully dynamic
def load_data(df: object, postgre_table: object, postgre_schema: object) -> object:
    """
    Load transformed data into respective PostgreSQL Table
    :param df: DataFrame with the data to insert
    :param postgre_table: The name of the target table
    :param postgre_schema: The schema in which the table resides
    :return: cursor object
    """
    insert_query = f"INSERT INTO {postgre_table} {postgre_schema};"

    for index, row in df.iterrows():
        if postgre_table == 'chicago_dmv.Crash':

            """
            crash_insert_PSQL: '''(CRASH_UNIT_ID,
                      CRASH_ID,
                      PERSON_ID,
                      VEHICLE_ID,
                      NUM_UNITS,
                      TOTAL_INJURIES)
                      VALUES (%s, %s, %s, %s, %s, %s)'''
            
            Columns in crashes_transformed_df: Index(['CRASH_RECORD_ID', 'RD_NO', 'CRASH_DATE_EST_I', 'CRASH_DATE',
                'POSTED_SPEED_LIMIT', 'TRAFFIC_CONTROL_DEVICE', 'DEVICE_CONDITION',
                'WEATHER_CONDITION', 'LIGHTING_CONDITION', 'FIRST_CRASH_TYPE',
                'TRAFFICWAY_TYPE', 'LANE_CNT', 'ALIGNMENT', 'ROADWAY_SURFACE_COND',
                'ROAD_DEFECT', 'REPORT_TYPE', 'CRASH_TYPE', 'INTERSECTION_RELATED_I',
                'PRIVATE_PROPERTY_I', 'HIT_AND_RUN_I', 'DAMAGE', 'DATE_POLICE_NOTIFIED',
                'PRIM_CONTRIBUTORY_CAUSE', 'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO',
                'STREET_DIRECTION', 'STREET_NAME', 'BEAT_OF_OCCURRENCE',
                'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'DOORING_I', 'WORK_ZONE_I',
                'WORK_ZONE_TYPE', 'WORKERS_PRESENT_I', 'NUM_UNITS',
                'MOST_SEVERE_INJURY', 'INJURIES_TOTAL', 'INJURIES_FATAL',
                'INJURIES_INCAPACITATING', 'INJURIES_NON_INCAPACITATING',
                'INJURIES_REPORTED_NOT_EVIDENT', 'INJURIES_NO_INDICATION',
                'INJURIES_UNKNOWN', 'CRASH_HOUR', 'CRASH_DAY_OF_WEEK', 'CRASH_MONTH',
                'LATITUDE', 'LONGITUDE', 'LOCATION'],
                dtype='object')
            """
            """
            insert_values = (row['CRASH_RECORD_ID'],
                             # clearly, i was supposed to merge this table with the other two to get this data
                             # but it doesn't matter anyway, i'll just skip
                             # row['CRASH_ID'],
                             # row['PERSON_ID'],
                             # row['VEHICLE_ID'],
                             row['NUM_UNITS'],
                             row['INJURIES_TOTAL'])
            """
            insert_values = (
                row.get('CRASH_RECORD_ID', None), 
                None, 
                None, 
                None, 
                row.get('NUM_UNITS', None), 
                row.get('TOTAL_INJURIES', None)
            )

        elif postgre_table == 'chicago_dmv.Vehicle':
            """
            vehicle_insert_PSQL: '''(CRASH_UNIT_ID,
                        CRASH_ID,
                        CRASH_DATE,
                        VEHICLE_ID,
                        VEHICLE_MAKE,
                        VEHICLE_MODEL,
                        VEHICLE_YEAR,
                        VEHICLE_TYPE)
                        VALUES (%s, %s, %s, %s, %s, %s, %s, %s)'''
            
            Columns in vehicles_transformed_df: Index(['CRASH_UNIT_ID', 'CRASH_RECORD_ID', 'RD_NO', 'CRASH_DATE', 'UNIT_NO',
                'UNIT_TYPE', 'NUM_PASSENGERS', 'VEHICLE_ID', 'CMRC_VEH_I', 'MAKE',
                'MODEL', 'LIC_PLATE_STATE', 'VEHICLE_YEAR', 'VEHICLE_DEFECT',
                'VEHICLE_TYPE', 'VEHICLE_USE', 'TRAVEL_DIRECTION', 'MANEUVER',
                'TOWED_I', 'FIRE_I', 'OCCUPANT_CNT', 'EXCEED_SPEED_LIMIT_I', 'TOWED_BY',
                'TOWED_TO', 'AREA_00_I', 'AREA_01_I', 'AREA_02_I', 'AREA_03_I',
                'AREA_04_I', 'AREA_05_I', 'AREA_06_I', 'AREA_07_I', 'AREA_08_I',
                'AREA_09_I', 'AREA_10_I', 'AREA_11_I', 'AREA_12_I', 'AREA_99_I',
                'FIRST_CONTACT_POINT', 'CMV_ID', 'USDOT_NO', 'CCMC_NO', 'ILCC_NO',
                'COMMERCIAL_SRC', 'GVWR', 'CARRIER_NAME', 'CARRIER_STATE',
                'CARRIER_CITY', 'HAZMAT_PLACARDS_I', 'HAZMAT_NAME', 'UN_NO',
                'HAZMAT_PRESENT_I', 'HAZMAT_REPORT_I', 'HAZMAT_REPORT_NO',
                'MCS_REPORT_I', 'MCS_REPORT_NO', 'HAZMAT_VIO_CAUSE_CRASH_I',
                'MCS_VIO_CAUSE_CRASH_I', 'IDOT_PERMIT_NO', 'WIDE_LOAD_I',
                'TRAILER1_WIDTH', 'TRAILER2_WIDTH', 'TRAILER1_LENGTH',
                'TRAILER2_LENGTH', 'TOTAL_VEHICLE_LENGTH', 'AXLE_CNT', 'VEHICLE_CONFIG',
                'CARGO_BODY_TYPE', 'LOAD_TYPE', 'HAZMAT_OUT_OF_SERVICE_I',
                'MCS_OUT_OF_SERVICE_I', 'HAZMAT_CLASS'],
                dtype='object')
            """
            insert_values = (row['CRASH_UNIT_ID'],
                             row['CRASH_RECORD_ID'],  # Corresponds to CRASH_ID in the table
                             row['CRASH_DATE'],
                             row['VEHICLE_ID'],
                             row['MAKE'],
                             row['MODEL'],
                             row['VEHICLE_YEAR'],
                             row['VEHICLE_TYPE'])
        elif postgre_table == 'chicago_dmv.Person':

            """
            person_insert_PSQL: '''(PERSON_ID,
                        CRASH_ID,
                        CRASH_DATE,
                        PERSON_TYPE,
                        VEHICLE_ID,
                        PERSON_SEX,
                        PERSON_AGE)
                        VALUES (%s, %s, %s, %s, %s, %s, %s)'''
            
            Columns in people_transformed_df: Index(['PERSON_ID', 'PERSON_TYPE', 'CRASH_RECORD_ID', 'RD_NO', 'VEHICLE_ID',
                'CRASH_DATE', 'SEAT_NO', 'CITY', 'STATE', 'ZIPCODE', 'SEX', 'AGE',
                'DRIVERS_LICENSE_STATE', 'DRIVERS_LICENSE_CLASS', 'SAFETY_EQUIPMENT',
                'AIRBAG_DEPLOYED', 'EJECTION', 'INJURY_CLASSIFICATION', 'HOSPITAL',
                'EMS_AGENCY', 'EMS_RUN_NO', 'DRIVER_ACTION', 'DRIVER_VISION',
                'PHYSICAL_CONDITION', 'PEDPEDAL_ACTION', 'PEDPEDAL_VISIBILITY',
                'PEDPEDAL_LOCATION', 'BAC_RESULT', 'BAC_RESULT_VALUE',
                'CELL_PHONE_USE'],
                dtype='object')
            """
            insert_values = (row['PERSON_ID'],
                             row['CRASH_RECORD_ID'],
                             row['CRASH_DATE'],
                             row['PERSON_TYPE'],
                             row['VEHICLE_ID'],
                             row['SEX'],
                             row['AGE'])
        else:
            raise ValueError(f'Postgre Data Table {postgre_table} does not exist in this pipeline.')

        print(f"Insert query: {insert_query}")
        print(f"Insert values: {insert_values}")
        
        # Execute insert query
        cur.execute(insert_query, insert_values)

    # Commit changes
    conn.commit()


def close_conn(cur):
    """
    Closing Postgre connection
    :param cur: posgre cursor object
    :return: none
    """

    # Close the cursor and database connection
    cur.close()
    conn.close()
    print('successful closing of cursor object.')

successful creation of cursor object.

In [7]:
# pipeline.py

import yaml

# import pipeline configuration
with open('config.yaml', 'r') as file:
    config_data = yaml.safe_load(file)

def run_pipeline():
    # Step 1: Extract data
    crashes_df = extract_data(config_data['crash_filepath'])
    vehicle_df = extract_data(config_data['vehicle_filepath'])
    people_df = extract_data(config_data['people_filepath'])

    # print("crashes_df:\n", crashes_df.dtypes, "\n"*2)
    # print("vehicle_df:\n", vehicle_df.dtypes, "\n"*2)
    # print("people_df:\n", crashes_df.dtypes, "\n"*2)

    # for col in crashes_df.columns:
    #     types = crashes_df[col].apply(type).value_counts()
    #     print(f"Column: {col}\n{types}\n")

    # Step 2: Transform data
    crashes_transformed_df = transform_data(crashes_df)
    vehicle_transformed_df = transform_data(vehicle_df)
    people_transformed_df = transform_data(people_df)

    # print("Columns in crashes_transformed_df:", crashes_transformed_df.columns)
    # print("Columns in vehicles_transformed_df:", vehicle_transformed_df.columns)
    # print("Columns in people_transformed_df:", people_transformed_df.columns)


    # Step 3: Load data
    load_data(df=crashes_transformed_df,
                   postgre_table=config_data['crash_table_PSQL'],
                   postgre_schema=config_data['crash_insert_PSQL'])
    load_data(df=vehicle_transformed_df,
                   postgre_table=config_data['vehicle_table_PSQL'],
                   postgre_schema=config_data['vehicle_insert_PSQL'])
    load_data(df=people_transformed_df,
                   postgre_table=config_data['person_table_PSQL'],
                   postgre_schema=config_data['person_insert_PSQL'])


if __name__ == "__main__":
    run_pipeline()

/tmp/ipykernel_51841/4176932845.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/tmp/ipykernel_51841/4176932845.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)
/tmp/ipykernel_51841/4176932845.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('530411c8611eb0ccb9b25f16b2955cd21761fa1928dcaa71279438be032526d11c08ca75075f176d2dc0085665b171fd57eca2c7cf88221d1191d351867bec81', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('305b06235b250aa0029c07313c84f969f4bc13c1cc371592780886815ca51411acb80530c99edd0cd57329d1e808ca56923fb2d4a8ba93bd7d0b272eda9d769f', None, None, None, 3, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('444221c2a9bc82fc4f301062ab22b482d7d661cf88fcdf3b7b7e04e3675673f651dc99513069ca0ff83fc0bd852790324463419e52ba713a25703c94d15a156b', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('4603435fbb4ef5d45c0d805c3e9aa5558a311a140a737e37aa56d4f70ea0161f8f2e187270d33f36070c6a1b0f0c26401d0f0ad8b3f9dae797f8041f754d6297', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('db62bb4534d0dae57112ea3ff8d50193784aaa732ed58d1fe2f7ccb826798a0e6c56cf119a5102e696b79aa081ef0af9f96ba1779d17bc7fcc258675d53ae540', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('7be2d128e14efdcb70fdbf27dbe8fd18f31a045118f2b03095d02cc94e1d425027841c74d144734dc8ed2e59b29bb8a351ef18db34649ca75dff5e009bc5a746', None, None, None, 3, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('b21c3c048ac319f0fca67804ab0fce0149c97d11a850fff5aba1e5d123ae0cbaec29799c1bc7e289e70303e2167606867a2e888220a341464d5d2818e8745b9f', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('ff9ed4054cd9f4b2908d1e1ef79a4e70d752a0ba7907b22b071276601c1b2b983b557104350e906a691182b8c07f753462a5d72d906d0f7d4ca74ed0d8bbe387', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('0ff41d1ad3fb1e9bba0015c72222f5569df3b1254ce9d09e8aaf2414f408e31fc293b445df4c28a3e3cccf0fc89adc33e08720ed706c27a110c92ba5854a77a4', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('77431b38762c7d632f83881886b3a1c94a52f6cb17ad6eedfee76629d0f68ad6def7faaa8fa348e4c706996b4c45476a864223b5c0e7e76cfff2b41ba4d527a4', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('1c34763adabf56d36bdf33806e026a5f6794b1e7a3ca5c43ca4d7ef8d9bd13c70989498247ef0428df9ee1f83f66863bd254e5042510c7c462ff2fe4812468ac', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('d190dd973dea076b750308dff1272f56fa724e93d8a54cb16ee56cbb070522c4ca87ec75ffc9a8c1c10971aa391d872096c92bee4351fead8e0b01a6caada0e7', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('7e1a75d221f1f538b80def6a7c5f9f522a3309108eb18f9d0cb43e7c0eaa00b826faa099391ab318e4988c3b7ca5670033be16f0d43c080471efd354b8de2f51', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('1e45565493f63101bf704046d6ecfec55f57c832334671cf7043df50f1222915174a4053d8b6b4320262dceb519dd5720f08ae7b2a4fa2b4a668c1fc6319f2a8', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('06961f67044ff197083bc79024a5aaab4ebbe7c404d70d08317ff06c1f5a20bfa80d9d52cf7fb6e3c492d9980a8852196589523eefea991e0c6fb8ee7b22b6df', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('9c863403d810d021c785ee768f4ceebdace75f5b4362125cdf5ab4878354be2fdd87dad89e20d7cc9eae3d7c87fe1663e574fa94e83f1c2aa202d086d9e6382e', None, None, None, 1, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('05a62c985bffdfb91b5fc5250b8cbb4cb0a0647bb06387151c752e49874a403fd5d864f4f2549404b19aa5f49c8f1b50f934fccf990aba764670588a215d8deb', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('0ccaf8fc934aca647afd767054141022c18b74d15c78a67c7477e1885c4f2b87d180001ace77fe993a909a5c3464dc9ff14873226e5ef0fa4a8bbcf3f3a1e9f6', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('62acc5daf51d9f8af2f3e70098904e0a241fdd024b463725e54f379313b888d187472054e2414c5868c894280606c81a358b099b9d6bcd747136f83465f6bf13', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('a2fc08d7c5bbd1ef56f6dd1023c07951985f35614b4d9c7a91ba707a9c4de33cba1a058342fe8967b7d18d588be888e0ea40cebafe01729203744483dbbaa436', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('f7999cfcb19a2e2fa3ac1a0c374b58a18474fbec81464fd37a1aa86ca45a99af988f96c6049801d439accb95867c1882cb57f2713054dd36c894cdd71e6daf74', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('d6b30daf6d409e36503555e11c38be88be9c6a219133869945988acc6034ae514c3c907772673859fefe83127de044baf9c6b119ff915e2a70b992b6105e8d26', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('d6023c5fbeb45276b6885272212a98dbd1d1efaf4ab470ef15b938029ebd992fac862800cfd091a9979ced79893c1bcbbba264a5414fe8db1d486baa951738eb', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('d5a794a66ae75be7eef84fe0d96e68164db1a205522e37ba13d93bbc3d22477645d9f3ce0bb71ffd73968960bd9d73cd0ad0698b7aa9f3109b8c08383ba1d6d9', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('f54713d6bd4a2f0c5b1237713c35202c186b3008f9a720a624c832b679c559c9540933874fc521aefc476da7d516da28e8503e2a3f2bfe1fe1745adbf6849756', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('d3394aad2f75a822b92a1bb385d43e6abc335bf9002ec01f02263e63742e2db169e40a3fcd7f89d6ed595cbb28d0ad61cbda47841fd54db194a39b8cd256f376', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('4056ae957c7e293f83b458945e7e32c50f635ea49a12723b6a2d2a985b45190d1aa55e1f2c405d0b5776cd66af0495999d8aca704e96f947577f48face824f9e', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('d9cf9c4a6b7263e48e612f6d2d041080efe9af446ff378ef33f1ca8ccbc0b541168f139f331ee9fdffc87c868a52efdac55c53e33857f41538c1486596ac9b63', None, None, None, 1, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('1f4e04f1aa0e46ea1ecba896923870ef2b2e4eed7f73da74bdd87ad40500a7a95b9c9a6b22b2189c2713210f6fc8fa29d3ff0c18783981ac916d54bd58744fc7', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('9d36131852925b709f35a2eef49fc0f209a6e38ac912ce77b600ddbb246a39419f5f63715fde3e57b0ae1970bf69353de2aaf381be0f153ed51e7c6d32adc9fd', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('d12d50f24317618fc9a0b6ea8bea73cc8caa5040d73d006e4234bd9efca3fb9b0977fb0894f2d74ea216cc9346ee26ba0ccdf0fc169147e1ca5f14c9ec8e8651', None, None, None, 1, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('b2a883f0294e88a60533a76ac5b986dc68e66908adbbd799f7d45315fff65d1ee7776e3f6e748e6e0ad2b07b0801d517a1f212090fe83da69908b0588d25a502', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('bfb452d8bde44f56587b494a3291dae40a47c5c64eb3d2d9ae0f22dfd0b272a2e4c88039ed18ad86f5586a08b27b2ff55e2a33803044602458d555ab6bc8dc5d', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('7d3a0bd116bb0c1b554f0c4772e6a04790b724b858e50c3cb2270b70ee19a8995322f307e7a275a75d2b144cc145ac767f9728e1617fdb3e1078c93a9e9a7786', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('f12b14f8eff817567130b48a52a407a4d9c5cb3a437c3eb251af0f1d76146038871da3e0011283c8a1aadb4759882a35010c5de7de0b269ab796ad6061d250d9', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('aa49cf01197f55ecd6d0413097c107979bb77ff7d757273d8e159b930d36607e03e781eea55ba6db558a168c329a04aa4cae6bc5c6f6272229304067136a50cb', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('7a0e671d95d3dec797b64b50241912247ec3c258de346d96bfd5f18db9ae0f3e99d37d088ef5e814b2137a4c5e808acb33466e2293054fe02aa90ffbd665a7ff', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('5113a38824469f53baf91a3a797c7c007b24065d592abd0cd8c62f91557ee32e5c06dddbe516479687c27228b6935695446ca0c6e27c595b70f8fb67b5297633', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('3e639edea4565457418b61b5ed70169e2d3a513b4bbcc16343e8cb6e8f95e6a91296e23137c65b0fbc097fbc27b1d3fa6dbde253673ade73a598de5ba24bf7da', None, None, None, 3, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('5a2501721ec3424dbb913011e7b0d54743583e790277134d53bec5297696430e709c3399c1ab1ee46b91d17f9ed8333f33d87e5c711c201fd8eeb0b7c02ee053', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('0ee96e44362f7c3b58e795d81e1507ff968427579526b5aaddc463888438a10f41ef488d70c29f17fc77369dabd4ccf667e1efcdfbd1c7d3315e137eb6f1622b', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('4e592de79e9fc053f11795c71c5af0d72cc86e121fa0337eacce2f98787343a2d1e68470a11372a9cc929fbd6726fa248e54ce3fa2d462ee56383414eb83d492', None, None, None, 3, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('bb6a109875ae398cf8cd02a41ea41b09a495c58333d6177d1d8153af28d85e810456bf28b6eb2e5cff6011e00262ccc67dc844e98dec621a7670a978f294ab52', None, None, None, 3, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('ec2a93d4f327b8bb35b3866cfb4af4634e6d31b722cec95e88060d74f396a0da3585d8b8191f4d0f565702981d96445087c5dc2ea3e4015316750f28eba155db', None, None, None, 5, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('33199001bec1395120db68044f3354bd769f5396f04aba87168dd2c1ea218c395a2791d0842dfca9cf56fd8e8e5499661d5fcfff74cbbd86eed828d5b9cd1944', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('8db693307e1a3c9cbb52d5e4f84fb1124c124c635d03c45786b4b2d651e6ed9b3383dc888c66bc104012ef97e22a0a3ffbfc811c4d5003e1eb740b8fc5ca0618', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('a150853e0070fc365233beaa0fda72a69950b16755ad17fc9d2f07eead716267711e6b9749d6b31e7cea6b7ca9b0b1cbd5c3f27f5c356ee4038ba01d396eccbc', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('4563ea35c2d594bcc0d4bc8d35c36f5eb2e6d60322d43a679d66b947e4fe576a26b75480e357c5e8e573628a72b6389901347a97d966fb98f2f17c8a6c4a3ec7', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('89c0634c536ba5736b287ca4c3e41fb5c19b98081e423ac0045fb1d5c0c824cf7b3c12cf952e61d0cbff423c32c574fa519a4a12a4ef6729992ace3610d1ec05', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('ec5a8407e604576d40f94e9352d938e7c4b92e033f969453878f30a38da579d921a9ba56e45b9f6c91bac0d6dbccdac23970a4a159484bf1c41598ebf7ef70be', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('c92f121c0e6a4e85435224b77cb760b185aaf41d14cf44c41e5de340bf04063e9db4e45e277431fbf695df7b73844836bd374ebb419e830b9c0099423fe8e58d', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('f09f5e9226bc4260b55fbf913bbefa9485e89e377b5160ed34a1e2f6d8f5df58fc8ea022fc62baa14ee9b9a18db5b4a2e22838687b2f4f715e8cef0fa529b25c', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('67a911c04f922342ca2a160de88405bb729bd1433afa0ada1497dc6e3013f1af3998e5dd36ce79064e493b8461d1119abb931dd35931746c18cc6c766dd663a7', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('e26f26a6b566af66da062d5319f8cac412ba2ac51073155805dcff5efce4c833d3c34b8838190f90692095d03603b8c99ae937ea9ca62d6280a413704a7da02e', None, None, None, 3, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('ec4a5ff5040f9d9ee28bb366c9b82fcac1ae167b2a6fc170bb1165cd3c5c25d562e072911c1145a9645c867cc906c2bc04fd5ed2f3ce132dd1ef864c10d82039', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('07119a29b64a3007eca90578a42d35248c69eff9e10a72b456b493acbbe3443e3a44c2f421f589d29111941f71dd9cdb4755c28ea866c410b57507e58513ca2f', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('68e850d0d251158e8cf29598a80053eec444560e54cc25564b8679f92c71e3372b7636909cf617169dc18c56bf6bc530e295feccf62c40829842e3e3f6ee95fc', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('887d8322b81a1c2fc97cf045054213d1aa6a576b5623b6328bcc5b6f3a4c96f55851a9fb1b9aa76be1a0dacd2b4ce66a7f29ba3ebe3c8bef8dd72e20842c4fb7', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('033d6ccb529acd5761d434d81f7bb18e8e9df85e61751b83db65eb6cd92b3cafeb9ccb7859fc0d87e033d54e39bbbac15a04514404760a1a66b75c161fdcc5a5', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);
Insert values: ('74a74b138f3327c3b978b365f9c2649f9cb6d3520bdd906f383c7b6eebdc807a52f5f2e5e258d35c1d33870a1335d1311ccf912cffad72d4a30413a4fc41fbef', None, None, None, 2, None)
Insert query: INSERT INTO chicago_dmv.Crash (CRASH_UNIT_ID, CRASH_ID, PERSON_ID, VEHICLE_ID, NUM_UNITS, TOTAL_INJURIES) VALUES (%s, %s, %s, %s, %s, %s);

> 
> There's future warnings