In [1]:
import pymysql

connect to the database
- using your MySQL/MariaDB credentials and database name

In [2]:
db_url = '172.18.0.1'
db_port = 3306
db_name = 'sakila'
db_user = 'root'
db_password = 'rootpassword'

In [4]:
connection = pymysql.connect(
    host=db_url,
    user=db_user,
    password=db_password,
    database=db_name
)

execute SQL commands in the Jupyter notebook using the connection object.

In [12]:
# Create a cursor object to interact with the database
# cursor = connection.cursor()

In [17]:
# Function to read and execute SQL script
"""
def execute_sql_script(file_path):
    with open(file_path, 'r') as file:
        sql_script = file.read()
    for statement in sql_script.split(';'):
        if statement.strip():  # Only execute non-empty statements
            cursor.execute(statement)
            connection.commit()  # Commit each statement
"""

"\ndef execute_sql_script(file_path):\n    with open(file_path, 'r') as file:\n        sql_script = file.read()\n    for statement in sql_script.split(';'):\n        if statement.strip():  # Only execute non-empty statements\n            cursor.execute(statement)\n            connection.commit()  # Commit each statement\n"

In [20]:
def execute_sql_script(file_path):
    connection = pymysql.connect(
        host=db_url,
        user=db_user,
        password=db_password,
        database=db_name
    )
    try:
        cursor = connection.cursor()
        with open(file_path, 'r') as file:
            sql_script = file.read()
        
        for statement in sql_script.split(';'):
            if statement.strip():
                print(f"Executing: {statement[:30]}...")  # Log the start of execution
                cursor.execute(statement)
                connection.commit()
    except pymysql.MySQLError as e:
        print(f"MySQL Error: {e}")
    except FileNotFoundError:
        print("SQL file not found.")
    finally:
        if connection:
            connection.close()

In [28]:
execute_sql_script('sakila/1. sakila-schema-v3.sql')

Executing: SET NAMES utf8mb4...
Executing:
SET @OLD_UNIQUE_CHECKS=@@UNIQ...
Executing:
SET @OLD_FOREIGN_KEY_CHECKS=@...
Executing:
SET @OLD_SQL_MODE=@@SQL_MODE,...
Executing:

DROP SCHEMA IF EXISTS sakila...
Executing:
CREATE SCHEMA sakila...
Executing:
USE sakila...
Executing:

--
-- Table structure for ta...
Executing:

--
-- Table structure for ta...
Executing:

--
-- Table structure for ta...
Executing:

--
-- Table structure for ta...
Executing:

--
-- Table structure for ta...
Executing:

--
-- Table structure for ta...
Executing:

--
-- Table structure for ta...
Executing:

--
-- Table structure for ta...
Executing:

--
-- Table structure for ta...
Executing:

--
-- Table structure for ta...
Executing:
SET @@default_storage_engine ...
Executing:
/*!50610 SET @@default_storag...
Executing:

CREATE TABLE film_text (
  f...
Executing:

SET @@default_storage_engine...
Executing:

--
-- Triggers for loading f...
MySQL Error: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'DELIMITER //\nCREATE TRIGGER `ins_film` AFTER INSERT ON `film` FOR EACH ROW BE...' at line 5")

In [26]:
execute_sql_script('sakila/2. sakila-data_dspa.sql')

Executing: -- Sakila Sample Database Data...
Executing:  LOSS OF USE, DATA, OR
-- PROF...
MySQL Error: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'LOSS OF USE, DATA, OR\n-- PROFITS' at line 1")

In [10]:
# Close the cursor and connection after the operation
cursor.close()
connection.close()