In [1]:
import urllib3
import certifi
import json
import sqlite3
import pandas as pd
import logging
import os

In [2]:
# Define top-level module logger
logger = logging.getLogger(__name__)

# Create a /logs directory if it doesn't exist
log_directory = 'logs'
os.makedirs(log_directory, exist_ok=True)

# Define the log file path
log_file = os.path.join(log_directory, 'data_extraction.log')

# Set up logging to a file
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s - %(message)s',
    handlers=[
        logging.FileHandler(log_file),  # Log to a file
        logging.StreamHandler()  # Also log to console
    ]
)

In [3]:
def source_data_from_parquet(parquet_file_name):
    try:
        df_parquet = pd.read_parquet(parquet_file_name)
        logger.info(f'{parquet_file_name} : extracted {df_parquet.shape[0]} records from the parquet file')
    except Exception as e:
        logger.exception(f'{parquet_file_name} : exception {e} encountered while extracting the parquet file')
        df_parquet = pd.DataFrame()
    return df_parquet


def source_data_from_csv(csv_file_name):
    try:
        df_csv = pd.read_csv(csv_file_name)
        logger.info(f'{csv_file_name} : extracted {df_csv.shape[0]} records from the CSV file')
    except Exception as e:
        logger.exception(f'{csv_file_name} : exception {e} encountered while extracting the CSV file')
        df_csv = pd.DataFrame()
    return df_csv


def source_data_from_api(api_endpoint):
    try:
        # Create a PoolManager to handle HTTP requests
        http = urllib3.PoolManager(cert_reqs='CERT_REQUIRED', ca_certs=certifi.where())
        api_response = http.request('GET', api_endpoint)
        api_status = api_response.status
        if api_status == 200:
            logger.info(f'{api_status} - OK: while invoking the API {api_endpoint}')
            data = json.loads(api_response.data.decode('utf-8'))
            df_api = pd.json_normalize(data)
            logger.info(f'{api_endpoint} : extracted {df_api.shape[0]} records from the API')
        else:
            logger.error(f'{api_status} - error: while invoking the API {api_endpoint}')
            df_api = pd.DataFrame()  # Fixed typo: `pd.Dataframe()` to `pd.DataFrame()`
    except Exception as e:
        logger.exception(f'Exception {e} encountered while reading data from the API: {api_endpoint}')
        df_api = pd.DataFrame()
    return df_api


def source_data_from_table(db_name, table_name):
    try:
        with sqlite3.connect(db_name) as conn:
            df_table = pd.read_sql(f"SELECT * FROM {table_name}", conn)
            logger.info(f'{db_name} : read {df_table.shape[0]} records from the table: {table_name}')
    except Exception as e:
        logger.exception(f'{db_name} : exception {e} encountered while reading data from the table: {table_name}')
        df_table = pd.DataFrame()
    return df_table


def source_data_from_webpage(web_page_url, matching_keyword):
    try:
        df_html = pd.read_html(web_page_url, match=matching_keyword)
        df_html = df_html[0]  # Extract the first matching table
        logger.info(f'{web_page_url} : read {df_html.shape[0]} records from the webpage')
    except Exception as e:
        logger.exception(f'{web_page_url} : exception {e} encountered while reading data from the webpage')
        df_html = pd.DataFrame()
    return df_html

In [4]:
def extract_data():
    parquet_file_name = "data/yellow_tripdata_2022-01.parquet"
    csv_file_name = "data/h9gi-nx95.csv"
    api_endpoint = "https://data.cityofnewyork.us/resource/h9gi-nx95.json?$limit=500"
    db_name = "movies.sqlite"
    table_name = "movies"
    web_page_url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
    matching_keyword = "by country"

    # Extract data from all source systems
    df_parquet, df_csv, df_api, df_table, df_html = (
        source_data_from_parquet(parquet_file_name),
        source_data_from_csv(csv_file_name),
        source_data_from_api(api_endpoint),
        source_data_from_table(db_name, table_name),
        source_data_from_webpage(web_page_url, matching_keyword),
    )
    return df_parquet, df_csv, df_api, df_table, df_html

In [5]:
# Call the function to test and log outputs
if __name__ == "__main__":
    df_parquet, df_csv, df_api, df_table, df_html = extract_data()

    # Print previews
    print("Parquet DataFrame:")
    print(df_parquet.head())
    print("\nCSV DataFrame:")
    print(df_csv.head())
    print("\nAPI DataFrame:")
    print(df_api.head())
    print("\nTable DataFrame:")
    print(df_table.head())
    print("\nHTML DataFrame:")
    print(df_html.head())

2025-02-04 17:26:36,351 - INFO - data/yellow_tripdata_2022-01.parquet : extracted 2463931 records from the parquet file
2025-02-04 17:26:36,360 - INFO - data/h9gi-nx95.csv : extracted 500 records from the CSV file
2025-02-04 17:26:38,020 - INFO - 200 - OK: while invoking the API https://data.cityofnewyork.us/resource/h9gi-nx95.json?$limit=500
2025-02-04 17:26:38,033 - INFO - https://data.cityofnewyork.us/resource/h9gi-nx95.json?$limit=500 : extracted 500 records from the API
2025-02-04 17:26:38,046 - INFO - movies.sqlite : read 5 records from the table: movies
2025-02-04 17:26:38,638 - INFO - https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal) : read 210 records from the webpage

Parquet DataFrame:
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2022-01-01 00:35:40   2022-01-01 00:53:29              2.0
1         1  2022-01-01 00:33:43   2022-01-01 00:42:07              1.0
2         2  2022-01-01 00:53:21   2022-01-01 01:02:19              1.0
3         2  2022-01-01 00:25:21   2022-01-01 00:35:23              1.0
4         2  2022-01-01 00:36:48   2022-01-01 01:14:20              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           3.80         1.0                  N           142           236
1           2.10         1.0                  N           236            42
2           0.97         1.0                  N           166           166
3           1.09         1.0                  N           114            68
4           4.30         1.0                  N            68           163

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         14.5    3.0      0.5        3.65           0.0
1             1          8.0    0.5      0.5        4.00           0.0
2             1          7.5    0.5      0.5        1.76           0.0
3             2          8.0    0.5      0.5        0.00           0.0
4             1         23.5    0.5      0.5        3.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    0.3         21.95                   2.5          0.0
1                    0.3         13.30                   0.0          0.0
2                    0.3         10.56                   0.0          0.0
3                    0.3         11.80                   2.5          0.0
4                    0.3         30.30                   2.5          0.0

CSV DataFrame:
                crash_date crash_time   borough  zip_code  latitude  \
0  2021-09-11T00:00:00.000       2:39       NaN       NaN       NaN
1  2022-03-26T00:00:00.000      11:45       NaN       NaN       NaN
2  2023-11-01T00:00:00.000       1:29  BROOKLYN   11230.0  40.62179
3  2022-06-29T00:00:00.000       6:55       NaN       NaN       NaN
4  2022-09-21T00:00:00.000      13:21       NaN       NaN       NaN

   longitude                       location           on_street_name  \
0        NaN                            NaN    WHITESTONE EXPRESSWAY
1        NaN                            NaN  QUEENSBORO BRIDGE UPPER
2 -73.970024  \n,  \n(40.62179, -73.970024)            OCEAN PARKWAY
3        NaN                            NaN       THROGS NECK BRIDGE
4        NaN                            NaN          BROOKLYN BRIDGE

  off_street_name cross_street_name  ...  contributing_factor_vehicle_2  \
0       20 AVENUE               NaN  ...                    Unspecified
1             NaN               NaN  ...                            NaN
2        AVENUE K               NaN  ...                    Unspecified
3             NaN               NaN  ...                    Unspecified
4             NaN               NaN  ...                    Unspecified

   contributing_factor_vehicle_3  contributing_factor_vehicle_4  \
0                            NaN                            NaN
1                            NaN                            NaN
2                    Unspecified                            NaN
3                            NaN                            NaN
4                            NaN                            NaN

   contributing_factor_vehicle_5  collision_id  \
0                            NaN       4455765
1                            NaN       4513547
2                            NaN       4675373
3                            NaN       4541903
4                            NaN       4566131

                    vehicle_type_code1  vehicle_type_code2  \
0                                Sedan               Sedan
1                                Sedan                 NaN
2                                Moped               Sedan
3                                Sedan       Pick-up Truck
4  Station Wagon/Sport Utility Vehicle                 NaN

   vehicle_type_code_3 vehicle_type_code_4 vehicle_type_code_5
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                Sedan                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN

[5 rows x 29 columns]

API DataFrame:
                crash_date crash_time           on_street_name  \
0  2021-09-11T00:00:00.000       2:39    WHITESTONE EXPRESSWAY
1  2022-03-26T00:00:00.000      11:45  QUEENSBORO BRIDGE UPPER
2  2023-11-01T00:00:00.000       1:29            OCEAN PARKWAY
3  2022-06-29T00:00:00.000       6:55       THROGS NECK BRIDGE
4  2022-09-21T00:00:00.000      13:21          BROOKLYN BRIDGE

  off_street_name number_of_persons_injured number_of_persons_killed  \
0       20 AVENUE                         2                        0
1             NaN                         1                        0
2        AVENUE K                         1                        0
3             NaN                         0                        0
4             NaN                         0                        0

  number_of_pedestrians_injured number_of_pedestrians_killed  \
0                             0                            0
1                             0                            0
2                             0                            0
3                             0                            0
4                             0                            0

  number_of_cyclist_injured number_of_cyclist_killed  ...  \
0                         0                        0  ...
1                         0                        0  ...
2                         0                        0  ...
3                         0                        0  ...
4                         0                        0  ...

  contributing_factor_vehicle_3 vehicle_type_code_3 location.latitude  \
0                           NaN                 NaN               NaN
1                           NaN                 NaN               NaN
2                   Unspecified               Sedan          40.62179
3                           NaN                 NaN               NaN
4                           NaN                 NaN               NaN

  location.longitude                             location.human_address  \
0                NaN                                                NaN
1                NaN                                                NaN
2         -73.970024  {"address": "", "city": "", "state": "", "zip"...
3                NaN                                                NaN
4                NaN                                                NaN

  cross_street_name contributing_factor_vehicle_4 vehicle_type_code_4  \
0               NaN                           NaN                 NaN
1               NaN                           NaN                 NaN
2               NaN                           NaN                 NaN
3               NaN                           NaN                 NaN
4               NaN                           NaN                 NaN

  contributing_factor_vehicle_5 vehicle_type_code_5
0                           NaN                 NaN
1                           NaN                 NaN
2                           NaN                 NaN
3                           NaN                 NaN
4                           NaN                 NaN

[5 rows x 31 columns]

Table DataFrame:
   id                     title   genre  year  rating
0   1                 Inception  Sci-Fi  2010     8.8
1   2           The Dark Knight  Action  2008     9.0
2   3              Interstellar  Sci-Fi  2014     8.6
3   4              Pulp Fiction   Crime  1994     8.9
4   5  The Shawshank Redemption   Drama  1994     9.3

HTML DataFrame:
  Country/Territory IMF[1][13]            World Bank[14]             \
  Country/Territory   Forecast       Year       Estimate       Year
0             World  115494312       2025      105435540       2023
1     United States   30337162       2025       27360935       2023
2             China   19534894  [n 1]2025       17794782  [n 3]2023
3           Germany    4921563       2025        4456081       2023
4             Japan    4389326       2025        4212945       2023

  United Nations[15]
            Estimate       Year
0          100834796       2022
1           25744100       2022
2           17963170  [n 1]2022
3            4076923       2022
4            4232173       2022