In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
file_path = 'data_academia_v1.xlsx'
# Load the Excel file with all sheets as DataFrames
df_dict = pd.read_excel(file_path, sheet_name=None)

In [3]:
df_dict

{'orders':       order_id customer_id order_date    product   quantity
 0      2495053  CLT-120299 2020-11-25     Olives  46.943077
 1      2495054  CLT-619376 2020-08-02     Pepper  11.994769
 2      2495055  CLT-868231 2021-08-07   Apricots   5.207678
 3      2495056  CLT-613688 2020-07-07       Beer  12.585342
 4      2495057  CLT-501831 2020-10-30  Hot Sauce   5.984846
 ...        ...         ...        ...        ...        ...
 2994   2498047  CLT-741890 2020-12-10  Olive Oil  11.006614
 2995   2498048  CLT-996947 2021-02-24    Ketchup  26.720448
 2996   2498049  CLT-683458 2021-05-17  Pineapple   2.963464
 2997   2498050  CLT-426022 2020-05-24  Olive Oil  12.844088
 2998   2498051  CLT-176027 2020-05-14       Tofu   4.631464

 [2999 rows x 5 columns],
 'transport':          shipping_id  order_id order_date  ship_date delivery_date  \
 0     shipping_11585   2495053 2020-11-25 2020-11-29    2020-12-07
 1     shipping_20241   2495054 2020-08-02 2020-08-02    2020-08-28
 2      shipping_6222   2495055 2021-08-07 2021-08-08    2021-08-22
 3     shipping_15924   2495056 2020-07-07 2020-07-07    2020-07-30
 4      shipping_8135   2495057 2020-10-30 2020-11-04    2020-11-16
 ...              ...       ...        ...        ...           ...
 2994  shipping_22740   2498047 2020-12-10 2020-12-11    2021-01-11
 2995  shipping_22853   2498048 2021-02-24 2021-03-01    2021-03-22
 2996  shipping_10536   2498049 2021-05-17 2021-05-17    2021-06-04
 2997  shipping_11493   2498050 2020-05-24 2020-05-29    2020-06-14
 2998  shipping_21138   2498051 2020-05-14 2020-05-17    2020-06-16

      delivery_type shipping_type
 0             road        urgent
 1         airplane      standard
 2         airplane       express
 3            train      standard
 4              NaN      standard
 ...            ...           ...
 2994           NaN      standard
 2995           NaN      standard
 2996           NaN       express
 2997           NaN        urgent
 2998           NaN      standard

 [2999 rows x 7 columns],
 'payments':       order_id              transaction_id  unit_price  \
 0      2495053   87300596-IALMM27626619432   12.183284
 1      2495054   66414598-LARWD33532876485   23.187998
 2      2495055    6132954-ISSOI14051866248   63.236268
 3      2495056   81003728-DZKWV17648538877   60.748069
 4      2495057   51436426-EUIJM30287011448   75.831565
 ...        ...                         ...         ...
 2994   2498047   27398826-JRFKC13248331225   76.499678
 2995   2498048    86434642-OZDXH4623929469   37.353206
 2996   2498049  274668291-RHYSJ15291594125   57.938078
 2997   2498050  241714287-JEOMQ31504525025   12.155489
 2998   2498051    55213280-MYHLZ7218570429   41.563877

       total_amount_before_discount  Unnamed: 4 payment_status   payment_type
 0                       571.920832   46.943077             No           card
 1                       278.134678   11.994769             No           card
 2                       329.314112    5.207678            Yes  wire_transfer
 3                       764.535195   12.585342             No  wire_transfer
 4                       453.840269    5.984846            Yes      gift_card
 ...                            ...         ...            ...            ...
 2994                    842.002395   11.006614            Yes      gift_card
 2995                    998.094376   26.720448             No         paypal
 2996                    171.697381    2.963464            Yes           card
 2997                    156.126171   12.844088            Yes      gift_card
 2998                    192.501616    4.631464             No      gift_card

 [2999 rows x 7 columns],
 'client_contacts':     customer_id                      email  phone_number  \
 0    CLT-765371  hmcasparan0@csmonitor.com  426-703-5554
 1    CLT-307377         cayris1@oracle.com  554-865-5213
 2    CLT-292912     cmcneillie2@flickr.com  730-210-2554
 3    CLT-751683         lmanns3@apache.org  334-287-9709
 4    CLT-603386         lhiland4@wiley.com  716-279-1437
 ..          ...                        ...           ...
 666  CLT-844442       hwinterburnii@ca.gov  920-789-4394
 667  CLT-302178        bsamesij@drupal.org  330-890-7788
 668  CLT-580773       ayoungloveik@wix.com  246-264-1499
 669  CLT-297018     psowmanil@springer.com  154-393-2357
 670  CLT-439702  mmorecombeim@redcross.org  165-206-8471

     preference_contact_method
 0                  phone_call
 1                  phone_call
 2                         sms
 3                         sms
 4                       email
 ..                        ...
 666                     email
 667                    letter
 668                phone_call
 669                phone_call
 670                       sms

 [671 rows x 4 columns],
 'client_details':      address_id customer_id first_name last_name          city
 0          6799  CLT-765371     Rachel    Miller       Detroit
 1     196411927  CLT-307377      Grace     Green       Detroit
 2      48400484  CLT-292912     Yvonne    Cooper      Honolulu
 3      31090420  CLT-751683       Mike     Price       Memphis
 4      28261714  CLT-603386       Paul    Thomas       Detroit
 ..          ...         ...        ...       ...           ...
 666   219925251  CLT-844442      Felix    Bailey     Riverside
 667   208701735  CLT-302178      Fiona  Robinson     Arlington
 668    90622371  CLT-580773       Will     Scott  Jacksonville
 669   172191559  CLT-297018       Vera   Roberts  Indianapolis
 670   144752964  CLT-439702       Nora    Thomas      San Jose

 [671 rows x 5 columns],
 'client_discounts':     customer_id    client_segments loyal_member  client_segment_discount  \
 0    CLT-765371    Loyal Customers           no                       12
 1    CLT-307377    Loyal Customers           no                       12
 2    CLT-292912   Low-Value Buyers          yes                        5
 3    CLT-751683   Low-Value Buyers           no                        5
 4    CLT-603386  High-Value Buyers          yes                       15
 ..          ...                ...          ...                      ...
 666  CLT-844442      New Customers           no                       10
 667  CLT-302178      New Customers          yes                       10
 668  CLT-580773      New Customers          yes                       10
 669  CLT-297018        VIP Clients          yes                       20
 670  CLT-439702   Low-Value Buyers           no                        5

      loyal_member_discount
 0                      NaN
 1                      NaN
 2                      3.0
 3                      NaN
 4                      3.0
 ..                     ...
 666                    NaN
 667                    3.0
 668                    3.0
 669                    3.0
 670                    NaN

 [671 rows x 5 columns]}

In [4]:
# db_url = '172.22.0.1'  # Replace with your database IP and port
db_url = '172.18.0.1'
db_port = 3306
db_name = 'cap_academy'
db_user = 'root'  # Replace with your database username
db_password = 'rootpassword'  # Replace with your database password

In [5]:
from sqlalchemy import text

In [6]:
# test with a simple query
engine = create_engine('mysql+pymysql://root:rootpassword@172.18.0.1:3306/cap_academy')
with engine.connect() as connection:
    result = connection.execute(text("SELECT 1"))
    print(result.fetchall())

[(1,)]

In [8]:
# Create SQLAlchemy engine
engine = create_engine(f'mysql+pymysql://{db_user}:{db_password}@{db_url}:{db_port}/{db_name}')

In [7]:
with engine.connect() as connection:
    # Loop through each sheet and upload it to MySQL
    for sheet_name, df in df_dict.items():
        print(f"Uploading sheet '{sheet_name}' to table '{sheet_name}'...")
        try:
            # Use connection with to_sql
            df.to_sql(sheet_name, con=connection, if_exists='replace', index=False)
            print(f"Successfully uploaded '{sheet_name}'!")
        except Exception as e:
            print(f"Error uploading '{sheet_name}': {e}")

Uploading sheet 'orders' to table 'orders'...
Error uploading 'orders': 'Connection' object has no attribute 'cursor'
Uploading sheet 'transport' to table 'transport'...
Error uploading 'transport': 'Connection' object has no attribute 'cursor'
Uploading sheet 'payments' to table 'payments'...
Error uploading 'payments': 'Connection' object has no attribute 'cursor'
Uploading sheet 'client_contacts' to table 'client_contacts'...
Error uploading 'client_contacts': 'Connection' object has no attribute 'cursor'
Uploading sheet 'client_details' to table 'client_details'...
Error uploading 'client_details': 'Connection' object has no attribute 'cursor'
Uploading sheet 'client_discounts' to table 'client_discounts'...
Error uploading 'client_discounts': 'Connection' object has no attribute 'cursor'

/tmp/ipykernel_176441/3283350237.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df.to_sql(sheet_name, con=connection, if_exists='replace', index=False)

In [ ]:
from sqlalchemy import inspect

In [ ]:
inspector = inspect(engine)

In [ ]:
tables = inspector.get_table_names()

In [ ]:
for table in tables:
    columns = inspector.get_columns(table)
    print(f"Table: {table}")
    for column in columns:
        print(f"  Column: {column['name']} Type: {column['type']}")