The goal here is to create the **Sakila database**. The files needed are placed on `sakila-db/`

* `sakila-schema.sql` - defines the database schema.
* `sakila-data.sql` - contains the data inserts.
* `sakila.mwb` - a MySQL Workbench model of the Sakila database. (i don't use this)

Those files were downloaded from here https://dev.mysql.com/doc/sakila/en/sakila-installation.html, and it also lists the steps required for installation. Instead of using that mysql cli tho, I'll be creating it from here directly. 

To make that work, I had to make some changes to the sakila-schema.sql and created the `sakila-schema-corrected.sql` (it just removes the delimiters, which aren't allowed with the `mysql-connector-python` driver i'm using). I also changed to docker compose to include a mysql database service, which I'll use... There's also a mariadb in there, if you want to test work with that instead (from my experience, the scripts won't work directly, and you'll need to disable some key constraints)

In [1]:
# install packages on the fly
# this shouldn't be necessary
# %pip install ipykernel ipython numpy pandas pyspark==3.3.4 jupyter findspark mysql-connector-python

In [2]:
import mysql.connector

In [3]:
# test the MySQL hostname resolution

# this will (probably?) fail
import socket
try:
    print(socket.gethostbyname("mysql"))
except Exception as e:
    print(f"Hostname resolution error: {e}")

Hostname resolution error: [Errno -3] Temporary failure in name resolution

for some reason, the hostname resolution does not work. 

The work-arround is to use the resolved IP address...

<div style="color:red;">you have to look this value up</div> - in my case it was 172.18.0.2

In [7]:
try:
    connection = mysql.connector.connect(
        # host='mysql',
        host='172.18.0.2',  # Use the resolved IP address
        user='root',
        password='rootpassword',
        database='sakila'
    )
    print("Connected to MySQL successfully.")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Connected to MySQL successfully.

In [8]:
# Connect to the MySQL database
db_config = {
    # 'host': 'mysql',  # The name of the MySQL service in your Docker Compose file
    'host': '172.18.0.2',
    'user': 'root',
    'password': 'rootpassword',
    'database': 'sakila'
}

In [9]:
try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Run your SQL queries as needed...
    cursor.execute("SELECT DATABASE();")
    print(cursor.fetchone())

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

('sakila',)

This is the useful part of the notebook

In [10]:
try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Run sakila-schema.sql
    with open('./sakila-db/sakila-schema-corrected.sql', 'r') as schema_file:
        schema_sql = schema_file.read()
        for result in cursor.execute(schema_sql, multi=True):
            # Consume all results
            print(result)

    connection.commit()  # Commit schema changes
    
    # Run sakila-data.sql
    with open('./sakila-db/sakila-data.sql', 'r') as data_file:
        data_sql = data_file.read()
        for result in cursor.execute(data_sql, multi=True):
            # Consume all results
            print(result)

    connection.commit()  # Commit data changes
    print("Sakila database loaded successfully.")

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

CMySQLCursor: LOSS OF USE, DATA, OR
-- PROFITS
CMySQLCursor: OR BUSINESS INTERRUPTION) HOWEVER CAUSED..
CMySQLCursor: SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, ..
CMySQLCursor: SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KE..
CMySQLCursor: SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='..
CMySQLCursor: DROP SCHEMA IF EXISTS sakila
CMySQLCursor: CREATE SCHEMA sakila
CMySQLCursor: USE sakila
CMySQLCursor: SET @@default_storage_engine = 'MyISAM'
CMySQLCursor: /*!50610 SET @@default_storage_engine = ..
CMySQLCursor: CREATE TABLE film_text (
  film_id SMALL..
CMySQLCursor: SET @@default_storage_engine = @old_defa..
CMySQLCursor: END
CMySQLCursor: CREATE TRIGGER `upd_film` AFTER UPDATE O..
CMySQLCursor: END IF
CMySQLCursor: END
CMySQLCursor: CREATE TRIGGER `del_film` AFTER DELETE O..
CMySQLCursor: END
CMySQLCursor: DECLARE last_month_end DATE
CMySQLCursor: /* Some sanity checks... */
    IF min_m..
CMySQLCursor: LEAVE proc
CMySQLCursor: END IF
CMySQLCursor: IF min_dollar_amount_purchased = 0.00 TH..
CMySQLCursor: LEAVE proc
CMySQLCursor: END IF
CMySQLCursor: /* Determine start and end time periods ..
CMySQLCursor: SET last_month_start = STR_TO_DATE(CONCA..
CMySQLCursor: SET last_month_end = LAST_DAY(last_month..
CMySQLCursor: /*
        Create a temporary storage ar..
CMySQLCursor: /*
        Find all customers meeting th..
CMySQLCursor: /* Populate OUT parameter with count of ..
CMySQLCursor: /*
        Output ALL customer informati..
CMySQLCursor: /* Clean up */
    DROP TABLE tmpCustome..
CMySQLCursor: END
CMySQLCursor: CREATE FUNCTION get_customer_balance(p_c..
CMySQLCursor: SELECT IFNULL(SUM(IF((TO_DAYS(rental.ret..
CMySQLCursor: SELECT IFNULL(SUM(payment.amount),0) INT..
CMySQLCursor: RETURN v_rentfees + v_overfees - v_payme..
CMySQLCursor: END
CMySQLCursor: CREATE PROCEDURE film_in_stock(IN p_film..
CMySQLCursor: SELECT COUNT(*)
     FROM inventory
    ..
CMySQLCursor: END
CMySQLCursor: CREATE PROCEDURE film_not_in_stock(IN p_..
CMySQLCursor: SELECT COUNT(*)
     FROM inventory
    ..
CMySQLCursor: END
CMySQLCursor: CREATE FUNCTION inventory_held_by_custom..
CMySQLCursor: LOSS OF USE, DATA, OR
-- PROFITS
CMySQLCursor: OR BUSINESS INTERRUPTION) HOWEVER CAUSED..
CMySQLCursor: SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, ..
CMySQLCursor: SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KE..
CMySQLCursor: SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='..
CMySQLCursor: SET @old_autocommit=@@autocommit
CMySQLCursor: USE sakila
CMySQLCursor: INSERT INTO actor VALUES (1,'PENELOPE','..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO `address` VALUES (1,'47 MySa..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO category VALUES (1,'Action',..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO city VALUES (1,'A Coru√±a (La..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO country VALUES (1,'Afghanist..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO customer VALUES (1,1,'MARY',..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO film VALUES (1,'ACADEMY DINO..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO film_actor VALUES (1,1,'2006..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO film_category VALUES (1,6,'2..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO inventory VALUES (1,1,1,'200..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO language VALUES (1,'English'..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO payment VALUES (1,1,1,76,'2...
CMySQLCursor: INSERT INTO payment VALUES (14886,555,2,..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO rental VALUES (1,'2005-05-24..
CMySQLCursor: INSERT INTO rental VALUES (12382,'2005-0..
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO `staff` VALUES (1,'Mike','Hi..
CMySQLCursor: UNLOCK TABLES
CMySQLCursor: COMMIT
CMySQLCursor: INSERT INTO store VALUES (1,1,1,'2006-02..
CMySQLCursor: COMMIT
CMySQLCursor: SET SQL_MODE=@OLD_SQL_MODE
CMySQLCursor: SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_..
CMySQLCursor: SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS
CMySQLCursor: SET autocommit=@old_autocommit
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
CMySQLCursor: stmt_overflow!
Sakila database loaded successfully.

In [11]:
try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Query to get table schema
    query = """
    SELECT
        COLUMNS.TABLE_NAME AS `Table Name`,
        COLUMNS.COLUMN_NAME AS `Column Name`,
        COLUMNS.COLUMN_TYPE AS `Data Type`,
        COLUMNS.IS_NULLABLE AS `Nullable`,
        COLUMNS.COLUMN_DEFAULT AS `Default`,
        COLUMNS.EXTRA AS `Extra`,
        KEY_COLUMN_USAGE.CONSTRAINT_NAME AS `Constraint Name`,
        KEY_COLUMN_USAGE.REFERENCED_TABLE_NAME AS `Referenced Table`,
        KEY_COLUMN_USAGE.REFERENCED_COLUMN_NAME AS `Referenced Column`
    FROM
        INFORMATION_SCHEMA.COLUMNS
    LEFT JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE
        ON COLUMNS.TABLE_NAME = KEY_COLUMN_USAGE.TABLE_NAME
        AND COLUMNS.COLUMN_NAME = KEY_COLUMN_USAGE.COLUMN_NAME
    WHERE
        COLUMNS.TABLE_SCHEMA = 'sakila'  -- Replace with your database name
    ORDER BY
        COLUMNS.TABLE_NAME, COLUMNS.COLUMN_NAME;
    """

    cursor.execute(query)

    # Fetch and print results
    for row in cursor.fetchall():
        print(row)

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

('actor', 'actor_id', 'smallint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('actor', 'first_name', 'varchar(45)', 'NO', None, '', None, None, None)
('actor', 'last_name', 'varchar(45)', 'NO', None, '', None, None, None)
('actor', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('actor_info', 'actor_id', 'smallint unsigned', 'NO', '0', '', None, None, None)
('actor_info', 'film_info', 'text', 'YES', None, '', None, None, None)
('actor_info', 'first_name', 'varchar(45)', 'NO', None, '', None, None, None)
('actor_info', 'last_name', 'varchar(45)', 'NO', None, '', None, None, None)
('address', 'address', 'varchar(50)', 'NO', None, '', None, None, None)
('address', 'address2', 'varchar(50)', 'YES', None, '', None, None, None)
('address', 'address_id', 'smallint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('address', 'city_id', 'smallint unsigned', 'NO', None, '', 'fk_address_city', 'city', 'city_id')
('address', 'district', 'varchar(20)', 'NO', None, '', None, None, None)
('address', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('address', 'location', 'geometry', 'NO', None, '', None, None, None)
('address', 'phone', 'varchar(20)', 'NO', None, '', None, None, None)
('address', 'postal_code', 'varchar(10)', 'YES', None, '', None, None, None)
('category', 'category_id', 'tinyint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('category', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('category', 'name', 'varchar(25)', 'NO', None, '', None, None, None)
('city', 'city', 'varchar(50)', 'NO', None, '', None, None, None)
('city', 'city_id', 'smallint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('city', 'country_id', 'smallint unsigned', 'NO', None, '', 'fk_city_country', 'country', 'country_id')
('city', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('country', 'country', 'varchar(50)', 'NO', None, '', None, None, None)
('country', 'country_id', 'smallint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('country', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('customer', 'active', 'tinyint(1)', 'NO', '1', '', None, None, None)
('customer', 'address_id', 'smallint unsigned', 'NO', None, '', 'fk_customer_address', 'address', 'address_id')
('customer', 'create_date', 'datetime', 'NO', None, '', None, None, None)
('customer', 'customer_id', 'smallint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('customer', 'email', 'varchar(50)', 'YES', None, '', None, None, None)
('customer', 'first_name', 'varchar(45)', 'NO', None, '', None, None, None)
('customer', 'last_name', 'varchar(45)', 'NO', None, '', None, None, None)
('customer', 'last_update', 'timestamp', 'YES', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('customer', 'store_id', 'tinyint unsigned', 'NO', None, '', 'fk_customer_store', 'store', 'store_id')
('customer_list', 'address', 'varchar(50)', 'NO', None, '', None, None, None)
('customer_list', 'city', 'varchar(50)', 'NO', None, '', None, None, None)
('customer_list', 'country', 'varchar(50)', 'NO', None, '', None, None, None)
('customer_list', 'ID', 'smallint unsigned', 'NO', '0', '', None, None, None)
('customer_list', 'name', 'varchar(91)', 'YES', None, '', None, None, None)
('customer_list', 'notes', 'varchar(6)', 'NO', '', '', None, None, None)
('customer_list', 'phone', 'varchar(20)', 'NO', None, '', None, None, None)
('customer_list', 'SID', 'tinyint unsigned', 'NO', None, '', None, None, None)
('customer_list', 'zip code', 'varchar(10)', 'YES', None, '', None, None, None)
('film', 'description', 'text', 'YES', None, '', None, None, None)
('film', 'film_id', 'smallint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('film', 'language_id', 'tinyint unsigned', 'NO', None, '', 'fk_film_language', 'language', 'language_id')
('film', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('film', 'length', 'smallint unsigned', 'YES', None, '', None, None, None)
('film', 'original_language_id', 'tinyint unsigned', 'YES', None, '', 'fk_film_language_original', 'language', 'language_id')
('film', 'rating', "enum('G','PG','PG-13','R','NC-17')", 'YES', 'G', '', None, None, None)
('film', 'release_year', 'year', 'YES', None, '', None, None, None)
('film', 'rental_duration', 'tinyint unsigned', 'NO', '3', '', None, None, None)
('film', 'rental_rate', 'decimal(4,2)', 'NO', '4.99', '', None, None, None)
('film', 'replacement_cost', 'decimal(5,2)', 'NO', '19.99', '', None, None, None)
('film', 'special_features', "set('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')", 'YES', None, '', None, None, None)
('film', 'title', 'varchar(128)', 'NO', None, '', None, None, None)
('film_actor', 'actor_id', 'smallint unsigned', 'NO', None, '', 'PRIMARY', None, None)
('film_actor', 'actor_id', 'smallint unsigned', 'NO', None, '', 'fk_film_actor_actor', 'actor', 'actor_id')
('film_actor', 'film_id', 'smallint unsigned', 'NO', None, '', 'PRIMARY', None, None)
('film_actor', 'film_id', 'smallint unsigned', 'NO', None, '', 'fk_film_actor_film', 'film', 'film_id')
('film_actor', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('film_category', 'category_id', 'tinyint unsigned', 'NO', None, '', 'PRIMARY', None, None)
('film_category', 'category_id', 'tinyint unsigned', 'NO', None, '', 'fk_film_category_category', 'category', 'category_id')
('film_category', 'film_id', 'smallint unsigned', 'NO', None, '', 'PRIMARY', None, None)
('film_category', 'film_id', 'smallint unsigned', 'NO', None, '', 'fk_film_category_film', 'film', 'film_id')
('film_category', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('film_list', 'actors', 'text', 'YES', None, '', None, None, None)
('film_list', 'category', 'varchar(25)', 'YES', None, '', None, None, None)
('film_list', 'description', 'text', 'YES', None, '', None, None, None)
('film_list', 'FID', 'smallint unsigned', 'NO', '0', '', None, None, None)
('film_list', 'length', 'smallint unsigned', 'YES', None, '', None, None, None)
('film_list', 'price', 'decimal(4,2)', 'NO', '4.99', '', None, None, None)
('film_list', 'rating', "enum('G','PG','PG-13','R','NC-17')", 'YES', 'G', '', None, None, None)
('film_list', 'title', 'varchar(128)', 'NO', None, '', None, None, None)
('film_text', 'description', 'text', 'YES', None, '', None, None, None)
('film_text', 'film_id', 'smallint unsigned', 'NO', None, '', 'PRIMARY', None, None)
('film_text', 'title', 'varchar(255)', 'NO', None, '', None, None, None)
('inventory', 'film_id', 'smallint unsigned', 'NO', None, '', 'fk_inventory_film', 'film', 'film_id')
('inventory', 'inventory_id', 'mediumint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('inventory', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('inventory', 'store_id', 'tinyint unsigned', 'NO', None, '', 'fk_inventory_store', 'store', 'store_id')
('language', 'language_id', 'tinyint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('language', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('language', 'name', 'char(20)', 'NO', None, '', None, None, None)
('nicer_but_slower_film_list', 'actors', 'text', 'YES', None, '', None, None, None)
('nicer_but_slower_film_list', 'category', 'varchar(25)', 'YES', None, '', None, None, None)
('nicer_but_slower_film_list', 'description', 'text', 'YES', None, '', None, None, None)
('nicer_but_slower_film_list', 'FID', 'smallint unsigned', 'NO', '0', '', None, None, None)
('nicer_but_slower_film_list', 'length', 'smallint unsigned', 'YES', None, '', None, None, None)
('nicer_but_slower_film_list', 'price', 'decimal(4,2)', 'NO', '4.99', '', None, None, None)
('nicer_but_slower_film_list', 'rating', "enum('G','PG','PG-13','R','NC-17')", 'YES', 'G', '', None, None, None)
('nicer_but_slower_film_list', 'title', 'varchar(128)', 'NO', None, '', None, None, None)
('payment', 'amount', 'decimal(5,2)', 'NO', None, '', None, None, None)
('payment', 'customer_id', 'smallint unsigned', 'NO', None, '', 'fk_payment_customer', 'customer', 'customer_id')
('payment', 'last_update', 'timestamp', 'YES', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('payment', 'payment_date', 'datetime', 'NO', None, '', None, None, None)
('payment', 'payment_id', 'smallint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('payment', 'rental_id', 'int', 'YES', None, '', 'fk_payment_rental', 'rental', 'rental_id')
('payment', 'staff_id', 'tinyint unsigned', 'NO', None, '', 'fk_payment_staff', 'staff', 'staff_id')
('rental', 'customer_id', 'smallint unsigned', 'NO', None, '', 'rental_date', None, None)
('rental', 'customer_id', 'smallint unsigned', 'NO', None, '', 'fk_rental_customer', 'customer', 'customer_id')
('rental', 'inventory_id', 'mediumint unsigned', 'NO', None, '', 'rental_date', None, None)
('rental', 'inventory_id', 'mediumint unsigned', 'NO', None, '', 'fk_rental_inventory', 'inventory', 'inventory_id')
('rental', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('rental', 'rental_date', 'datetime', 'NO', None, '', 'rental_date', None, None)
('rental', 'rental_id', 'int', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('rental', 'return_date', 'datetime', 'YES', None, '', None, None, None)
('rental', 'staff_id', 'tinyint unsigned', 'NO', None, '', 'fk_rental_staff', 'staff', 'staff_id')
('sales_by_film_category', 'category', 'varchar(25)', 'NO', None, '', None, None, None)
('sales_by_film_category', 'total_sales', 'decimal(27,2)', 'YES', None, '', None, None, None)
('sales_by_store', 'manager', 'varchar(91)', 'YES', None, '', None, None, None)
('sales_by_store', 'store', 'varchar(101)', 'YES', None, '', None, None, None)
('sales_by_store', 'total_sales', 'decimal(27,2)', 'YES', None, '', None, None, None)
('staff', 'active', 'tinyint(1)', 'NO', '1', '', None, None, None)
('staff', 'address_id', 'smallint unsigned', 'NO', None, '', 'fk_staff_address', 'address', 'address_id')
('staff', 'email', 'varchar(50)', 'YES', None, '', None, None, None)
('staff', 'first_name', 'varchar(45)', 'NO', None, '', None, None, None)
('staff', 'last_name', 'varchar(45)', 'NO', None, '', None, None, None)
('staff', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('staff', 'password', 'varchar(40)', 'YES', None, '', None, None, None)
('staff', 'picture', 'blob', 'YES', None, '', None, None, None)
('staff', 'staff_id', 'tinyint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)
('staff', 'store_id', 'tinyint unsigned', 'NO', None, '', 'fk_staff_store', 'store', 'store_id')
('staff', 'username', 'varchar(16)', 'NO', None, '', None, None, None)
('staff_list', 'address', 'varchar(50)', 'NO', None, '', None, None, None)
('staff_list', 'city', 'varchar(50)', 'NO', None, '', None, None, None)
('staff_list', 'country', 'varchar(50)', 'NO', None, '', None, None, None)
('staff_list', 'ID', 'tinyint unsigned', 'NO', '0', '', None, None, None)
('staff_list', 'name', 'varchar(91)', 'YES', None, '', None, None, None)
('staff_list', 'phone', 'varchar(20)', 'NO', None, '', None, None, None)
('staff_list', 'SID', 'tinyint unsigned', 'NO', None, '', None, None, None)
('staff_list', 'zip code', 'varchar(10)', 'YES', None, '', None, None, None)
('store', 'address_id', 'smallint unsigned', 'NO', None, '', 'fk_store_address', 'address', 'address_id')
('store', 'last_update', 'timestamp', 'NO', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP', None, None, None)
('store', 'manager_staff_id', 'tinyint unsigned', 'NO', None, '', 'idx_unique_manager', None, None)
('store', 'manager_staff_id', 'tinyint unsigned', 'NO', None, '', 'fk_store_staff', 'staff', 'staff_id')
('store', 'store_id', 'tinyint unsigned', 'NO', None, 'auto_increment', 'PRIMARY', None, None)

In [12]:
try:
    connection = mysql.connector.connect(**db_config)
    cursor = connection.cursor()

    # Query to get simplified table schema
    query = """
    SELECT
        COLUMNS.TABLE_NAME AS `Table Name`,
        COLUMNS.COLUMN_NAME AS `Column Name`,
        COLUMNS.COLUMN_TYPE AS `Data Type`
    FROM
        INFORMATION_SCHEMA.COLUMNS
    WHERE
        COLUMNS.TABLE_SCHEMA = 'sakila'  -- Replace with your database name
    ORDER BY
        COLUMNS.TABLE_NAME, COLUMNS.ORDINAL_POSITION;
    """

    cursor.execute(query)

    # Group the results by table and format the output
    current_table = None
    for row in cursor.fetchall():
        table_name = row[0]
        column_name = row[1]
        data_type = row[2]

        # Check if we've moved to a new table
        if table_name != current_table:
            if current_table is not None:
                print()  # Print a blank line between tables
            print(f"Table: {table_name}")
            current_table = table_name

        print(f"  Column: {column_name} Type: {data_type}")

except mysql.connector.Error as err:
    print(f"Error: {err}")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()

Table: actor
  Column: actor_id Type: smallint unsigned
  Column: first_name Type: varchar(45)
  Column: last_name Type: varchar(45)
  Column: last_update Type: timestamp

Table: actor_info
  Column: actor_id Type: smallint unsigned
  Column: first_name Type: varchar(45)
  Column: last_name Type: varchar(45)
  Column: film_info Type: text

Table: address
  Column: address_id Type: smallint unsigned
  Column: address Type: varchar(50)
  Column: address2 Type: varchar(50)
  Column: district Type: varchar(20)
  Column: city_id Type: smallint unsigned
  Column: postal_code Type: varchar(10)
  Column: phone Type: varchar(20)
  Column: location Type: geometry
  Column: last_update Type: timestamp

Table: category
  Column: category_id Type: tinyint unsigned
  Column: name Type: varchar(25)
  Column: last_update Type: timestamp

Table: city
  Column: city_id Type: smallint unsigned
  Column: city Type: varchar(50)
  Column: country_id Type: smallint unsigned
  Column: last_update Type: timestamp

Table: country
  Column: country_id Type: smallint unsigned
  Column: country Type: varchar(50)
  Column: last_update Type: timestamp

Table: customer
  Column: customer_id Type: smallint unsigned
  Column: store_id Type: tinyint unsigned
  Column: first_name Type: varchar(45)
  Column: last_name Type: varchar(45)
  Column: email Type: varchar(50)
  Column: address_id Type: smallint unsigned
  Column: active Type: tinyint(1)
  Column: create_date Type: datetime
  Column: last_update Type: timestamp

Table: customer_list
  Column: ID Type: smallint unsigned
  Column: name Type: varchar(91)
  Column: address Type: varchar(50)
  Column: zip code Type: varchar(10)
  Column: phone Type: varchar(20)
  Column: city Type: varchar(50)
  Column: country Type: varchar(50)
  Column: notes Type: varchar(6)
  Column: SID Type: tinyint unsigned

Table: film
  Column: film_id Type: smallint unsigned
  Column: title Type: varchar(128)
  Column: description Type: text
  Column: release_year Type: year
  Column: language_id Type: tinyint unsigned
  Column: original_language_id Type: tinyint unsigned
  Column: rental_duration Type: tinyint unsigned
  Column: rental_rate Type: decimal(4,2)
  Column: length Type: smallint unsigned
  Column: replacement_cost Type: decimal(5,2)
  Column: rating Type: enum('G','PG','PG-13','R','NC-17')
  Column: special_features Type: set('Trailers','Commentaries','Deleted Scenes','Behind the Scenes')
  Column: last_update Type: timestamp

Table: film_actor
  Column: actor_id Type: smallint unsigned
  Column: film_id Type: smallint unsigned
  Column: last_update Type: timestamp

Table: film_category
  Column: film_id Type: smallint unsigned
  Column: category_id Type: tinyint unsigned
  Column: last_update Type: timestamp

Table: film_list
  Column: FID Type: smallint unsigned
  Column: title Type: varchar(128)
  Column: description Type: text
  Column: category Type: varchar(25)
  Column: price Type: decimal(4,2)
  Column: length Type: smallint unsigned
  Column: rating Type: enum('G','PG','PG-13','R','NC-17')
  Column: actors Type: text

Table: film_text
  Column: film_id Type: smallint unsigned
  Column: title Type: varchar(255)
  Column: description Type: text

Table: inventory
  Column: inventory_id Type: mediumint unsigned
  Column: film_id Type: smallint unsigned
  Column: store_id Type: tinyint unsigned
  Column: last_update Type: timestamp

Table: language
  Column: language_id Type: tinyint unsigned
  Column: name Type: char(20)
  Column: last_update Type: timestamp

Table: nicer_but_slower_film_list
  Column: FID Type: smallint unsigned
  Column: title Type: varchar(128)
  Column: description Type: text
  Column: category Type: varchar(25)
  Column: price Type: decimal(4,2)
  Column: length Type: smallint unsigned
  Column: rating Type: enum('G','PG','PG-13','R','NC-17')
  Column: actors Type: text

Table: payment
  Column: payment_id Type: smallint unsigned
  Column: customer_id Type: smallint unsigned
  Column: staff_id Type: tinyint unsigned
  Column: rental_id Type: int
  Column: amount Type: decimal(5,2)
  Column: payment_date Type: datetime
  Column: last_update Type: timestamp

Table: rental
  Column: rental_id Type: int
  Column: rental_date Type: datetime
  Column: inventory_id Type: mediumint unsigned
  Column: customer_id Type: smallint unsigned
  Column: return_date Type: datetime
  Column: staff_id Type: tinyint unsigned
  Column: last_update Type: timestamp

Table: sales_by_film_category
  Column: category Type: varchar(25)
  Column: total_sales Type: decimal(27,2)

Table: sales_by_store
  Column: store Type: varchar(101)
  Column: manager Type: varchar(91)
  Column: total_sales Type: decimal(27,2)

Table: staff
  Column: staff_id Type: tinyint unsigned
  Column: first_name Type: varchar(45)
  Column: last_name Type: varchar(45)
  Column: address_id Type: smallint unsigned
  Column: picture Type: blob
  Column: email Type: varchar(50)
  Column: store_id Type: tinyint unsigned
  Column: active Type: tinyint(1)
  Column: username Type: varchar(16)
  Column: password Type: varchar(40)
  Column: last_update Type: timestamp

Table: staff_list
  Column: ID Type: tinyint unsigned
  Column: name Type: varchar(91)
  Column: address Type: varchar(50)
  Column: zip code Type: varchar(10)
  Column: phone Type: varchar(20)
  Column: city Type: varchar(50)
  Column: country Type: varchar(50)
  Column: SID Type: tinyint unsigned

Table: store
  Column: store_id Type: tinyint unsigned
  Column: manager_staff_id Type: tinyint unsigned
  Column: address_id Type: smallint unsigned
  Column: last_update Type: timestamp