In [6]:
import pandas as pd

load the data

In [7]:
df = pd.read_csv('test_requirements.csv')
df.head()

                  Section                                        Requirement
0  1. General Information       State the title of the Risk Management Plan.
1  1. General Information  Identify the medical device or medical devices...
2  1. General Information  Identify the intended use(s) and known use(s) ...
3  1. General Information  Identify the manufacturer and the manufacturer...
4  1. General Information    Specify the plan date and issue number, if any.

create a database in mariadb

with sqlalchemy

In [8]:
%pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.22)
Requirement already satisfied: pymysql in /opt/conda/lib/python3.11/site-packages (1.1.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (3.0.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import sqlalchemy

In [10]:
# db_url = '172.22.0.1'  # Replace with your database IP and port
db_url = '172.18.0.1'
db_port = 3306
db_name = 'test_db'
db_user = 'root'  # Replace with your database username
db_password = 'rootpassword'  # Replace with your database password

In [47]:
engine = sqlalchemy.create_engine(f'mariadb+pymysql://{db_user}:{db_password}@{db_url}:{db_port}/{db_name}')
engine

Engine(mariadb+pymysql://root:***@172.18.0.1:3306/test_db)

load the data into a database cap_academy and table `requirements`

In [48]:
df.to_sql("requirements", engine, if_exists='replace', index=False,method="multi")

4

Select all

In [49]:
pd.read_sql('select * from requirements;', engine)

           Section                                        Requirement
0  1. Introduction  Identify the medical device or medical devices...
1  1. Introduction  Identify the intended use(s) and known use(s) ...
2  1. Introduction  Identify the manufacturer and the manufacturer...
3  1. Introduction  Identify the individuals or groups responsible...

1 - Update os dados com a query รก MariaDB  (atualiizar o General information por 'Introduction')

In [17]:
q = """
    UPDATE requirements
    SET Section = 'General Information'
    WHERE Section = '1. General Information';
"""

In [30]:
q = sqlalchemy.text("""
    UPDATE requirements
    SET Section = '1. Introduction'
    WHERE Section = 'General Information';
""")

In [31]:
with engine.begin() as conn:
    conn.execute(q)

In [32]:
pd.read_sql('select * from requirements;', con)

           Section                                        Requirement
0  1. Introduction       State the title of the Risk Management Plan.
1  1. Introduction  Identify the medical device or medical devices...
2  1. Introduction  Identify the intended use(s) and known use(s) ...
3  1. Introduction  Identify the manufacturer and the manufacturer...
4  1. Introduction    Specify the plan date and issue number, if any.
5  1. Introduction  Specify the revision or amendment level and da...
6  1. Introduction      Document the manufacturer's name and address.
7  1. Introduction  Document the specific software version(s) or h...
8  1. Introduction  Include a reference to the Risk Management Pol...
9  1. Introduction  Identify the individuals or groups responsible...

2 - return all the lines where the Requirement contains some text after "Identify"

In [35]:
# escaping single quotes
q = "SELECT * FROM requirements WHERE requirement LIKE 'Identify%%';"
df = pd.read_sql(q, engine)

In [38]:
df

           Section                                        Requirement
0  1. Introduction  Identify the medical device or medical devices...
1  1. Introduction  Identify the intended use(s) and known use(s) ...
2  1. Introduction  Identify the manufacturer and the manufacturer...
3  1. Introduction  Identify the individuals or groups responsible...

In [39]:
# using raw strings
q = r"SELECT * FROM requirements WHERE requirement LIKE 'Identify%%';"
df = pd.read_sql(q, engine)

In [40]:
df

           Section                                        Requirement
0  1. Introduction  Identify the medical device or medical devices...
1  1. Introduction  Identify the intended use(s) and known use(s) ...
2  1. Introduction  Identify the manufacturer and the manufacturer...
3  1. Introduction  Identify the individuals or groups responsible...

In [43]:
# using parameters for query
# q = "SELECT * FROM requirements WHERE requirement LIKE :pattern;"
# df = pd.read_sql(q, con, params={"pattern": "Identify%"})

In [51]:
q = "SELECT * FROM requirements WHERE requirement LIKE %s;"
df = pd.read_sql(q, engine, params=("Identify%",))

In [52]:
df

           Section                                        Requirement
0  1. Introduction  Identify the medical device or medical devices...
1  1. Introduction  Identify the intended use(s) and known use(s) ...
2  1. Introduction  Identify the manufacturer and the manufacturer...
3  1. Introduction  Identify the individuals or groups responsible...

3 - insert new section and requirements (section =  'new_section', 'this is a test')

In [55]:
# using pandas.to_sql()
# data = {'id': [1, 2], 'name': ['Alice', 'Bob']}
data = {'section': ['new_section'], 'requirement': ['this is a test']}
df = pd.DataFrame(data)

# Insert data into table
df.to_sql('requirements', con=engine, if_exists='append', index=False)

1

In [ ]:
# using Raw SQL Queries

sql = sqlalchemy.text("""
    INSERT INTO table_name (id, name) 
    VALUES (:id, :name)
""")

# data = [{'id': 1, 'name': 'Alice'}, {'id': 2, 'name': 'Bob'}]

with engine.connect() as conn:
    conn.execute(sql, data)